@media screen and (min-width: 640px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1024px) {}
@media screen and (min-width: 1360px) {}
@media screen and (min-width: 1440px) {}
@media screen and (min-width: 1600px) {}
@media screen and (min-width: 1800px) { .container { max-width: calc(1600px + 36px); } }



/* ======= MIN-WIDTH COMPLETED ======= */


@media screen and (max-width: 1799px) {
    .container { max-width: calc(1400px + 36px); }
    h1, .h1{ font-size: 68px; line-height: 80px; }
    h4, .h4{ font-size: 30px; line-height: 38px; }

    /* footer */
    .footer-lets-connect{ font-size: 204px; }

    /* soln page */
    .sol-hero-text-wrapper{ gap: 170px; }
    .solution-stats-text p{ width: 620px; }
    .soln-stats-img{ width: 680px; }
    .sol-stats-list-desc{ width: 620px; }
    .sol-tick-desc{ align-items: flex-start; }
    .sol-tick-desc img{ padding-top: 10px; }
    .soln-stats-cards{ width: 400px; }
    .soln-workflow-card-1 img{ width: 1000px; }
    .stakeholders-cards{ width: 454px; }

    .blog-card-1 img{ object-fit: cover; border-radius: 20px 20px 0 0; }
    .blog-list-cards{ width: 680px; height: 520px; }

    .container-sm{ max-width: 1300px; } 
}

@media screen and (max-width: 1599px) {
    /* font-size */
    h1, .h1{ font-size: 66px; line-height: 76px;  }
    h2, .h2{ font-size: 52px; line-height: 62px; }
    h3, .h3{ font-size: 38px; line-height: 48px; }
    h4, .h4{ font-size: 28px; line-height: 38px; }

    /* footer */
    .footer-links-section{ gap: 60px; }

    /* header */
    .headerLogo{ width: 150px; }

    .container-sm{ max-width: 1100px; } 
    .blog-detail-heading{ width: 100%; }

}

@media screen and (max-width: 1439px) {
    .container { max-width: calc(1364px + 36px); }

    /* font-size */
    h1, .h1{ font-size: 62px; line-height: 72px; }
    h2, .h2{ font-size: 48px; line-height: 58px; }
    .text-18{ font-size: 16px; line-height: 26px; }

    /* footer */
    .footer-lets-connect{ font-size: 194px; }
    .footer-copyright-main{ padding-top: 0; }

    /* soln page */
    .stats-cards-5{ width: 450px; }
    .soln-stats-cards{ width: 397px; }
    .solution-stats-text p, .sol-stats-list-desc{ width: 578px; }
    .stakeholders-cards{ width: 428px; }
    .soln-workflow-card-1 img{ width: 876px; }
    .sol-hero-detail{ width: 712px }

    .blog-listing-card-wrapper{ margin-top: 40px; }
    .blog-list-cards{ width: 642px; height: 500px; }

}

@media screen and (max-width: 1359px) {
    .container { max-width: calc(1150px  + 36px); }

    /* font-size */
    h1, .h1{ font-size: 54px; line-height: 64px; }
    h2, .h2{ font-size: 46px; line-height: 56px; }
    h3, .h3{ font-size: 36px; line-height: 46px; }
    h6, .h6{ font-size: 18px; line-height: 28px; }

    /* footer */
    .footer-lets-connect{ font-size: 168px; line-height: 178px; }
    .footer-cta-left{ width: 750px; }
    .footer-logo-section{ width: 400px; }
    .footer-bottom{ flex-direction: column; gap: 50px; }

    /* header */
    .link-padding{ padding: 10px 25px; }

    /* soln page */
    .sol-hero-text-wrapper{ justify-content: space-between; gap: 150px; margin: 0 auto; }
    .sol-hero-detail{ width: 870px; }
    .stats-cards-5{ width: 390px; padding: 50px 40px; }
    .soln-stats-cards{ width: 340px; }
    .sol-stats-list{ margin-top: 50px; }
    .solution-stats-text{ flex-direction: column; text-align: center; justify-content: center; align-items: center; }
    .solution-stats-text h2, .solution-stats-text p{ width: 900px; }
    .sol-stats-list-desc{ width: 480px; }
    .soln-stats-img{ width: 600px; }
    .stakeholders-cards{ width: 370px; }
    .soln-workflow-card-1 img{ width: 760px;  }

    .blog-listing-card-detail .h5 { font-size: 20px; margin-bottom: 0; }
    .blog-list-cards{ width: 555px; height: 440px; }

    .container-sm{ max-width: 900px; } 
}

@media screen and (max-width: 1199px) {
    .container { max-width: calc(980px  + 36px); }

    /* font-size */
    h2, .h2{ font-size: 40px; line-height: 50px; }

    /* footer */
    .footer-lets-connect{ font-size: 144px; line-height: 154px; }
    .news-letter-button input{ width: 300px; }
    .footer-mail-sec span, .footer-call-sec span{ font-size: 16px; }
    .footer-social-icons span{ font-size: 24px; }
    .footer-copyright-main{ margin-top: 70px; }
    .footer-cta-left{ width: 600px; }

    /* header */
    .headerLogo{ width: 150px; height: auto; }

    /* soln page */
    .sol-stats-cards{ gap: 20px; }
    .sol-hero-text-wrapper{ gap: 50px;  }
    .sol-hero-detail{ width: 800px; }
    .soln-stats-cards{ width: 275px; height: 200px; }
    .stats-cards-5{ height: 423px; }
    .soln-stats-img{ width: 535px; }
    .sol-stats-list-desc{ width: 400px; }
    .stakeholders-cards{ width: 314px; height: 330px; }
    .soln-workflow-card-1{ flex-direction: column-reverse; }
    .soln-worflow-card{ flex-direction: row; }
    .soln-workflow-card-1 img{ width: 100%; height: 400px; object-fit: cover; border-radius: 20px; }
    .site-cro-card, .parti-payments-card{ width: 480px; height: 250px; }
    .sol-stats-card-1, .sol-stats-card-2{ gap: 20px; }
    .sol-hero-text{ gap: 90px; }

    /* .sol-hero-text-wrapper img{ width: 430px; } */

    .blog-listing-card-detail{ padding: 20px 15px 30px; }
    .blog-list-cards{ width: 480px; height: 390px; }
}

@media screen and (max-width: 1023px) {
    .container { max-width: calc(991px + 36px); }

    /* font-size */
    h1, .h1{ font-size: 52px; line-height: 62px; }
    h2, .h2{ font-size: 32px; line-height: 42px; }
    .text-16{ font-size: 14px; line-height: 24px; }

    /* footer */
    .footer-lets-connect{ font-size: 140px; }
    .glass-footer-cta{ padding: 35px 60px; }

    /* soln page */
    .sol-hero-detail{ width: 500px; }
    .stats-cards-5{ width: 365px; }
    /* blog */
    .blog-list-cards{ width: 470px; height: 390px; }
    .blog-list-card-rw-2{ margin: 40px 0; padding: 0; }

    .container-sm{ max-width: 880px; } 

}

@media screen and (max-width: 991px) {
    .container { max-width: calc(800px + 36px); }

    /* font-size */
    h1, .h1{ font-size: 48px; line-height: 58px; }
    h2, .h2{ font-size: 32px; line-height: 42px; }
    h3, .h3{ font-size: 32px; line-height: 42px; }
    h4, .h4{ font-size: 28px; line-height: 38px; }
    h5, .h5{ font-size: 22px; line-height: 32px; }
    /* h6, .h6{ font-size: 16px; line-height: 24px; } */
    .text-18{ font-size: 14px; line-height: 24px; }

    /* footer */
    .footer-lets-connect { font-size: 118px; line-height: 128px; }  
    .footer-links-section, .footer-bottom{ gap: 40px; }
    .footer-cta-left{ width: 450px; }

    /* header */
    .hamburger { display: flex; }
    .header-nav-links, .contact-link { display: none !important; }

    .mobile-menu {
        position: fixed; /* full screen */
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        background: rgb(240, 240, 240);
        transition: height 0.35s ease;
        z-index: 10000; /* lower than header */
        display: flex;
        flex-direction: column;
        padding-left: 70px;
    }

    .mobile-menu.open { height: 100vh; }
    .mobile-menu ul { display: flex; flex-direction: column; gap: 30px; text-align: left; font-size: 24px;padding-top: 100px; }
    .mobile-menu ul li a { font-size: 30px; color: var(--black); text-decoration: none; font-weight: 500; }
    .mobile-menu ul li a:hover{ color: var(--secondary); }
    .mobile-menu.open .header-wrapper.shrink{ background-color: transparent; }

    /* soln page */
    .sol-hero-text-wrapper{ flex-direction: column-reverse; align-items: center; padding-top: 170px;  }
    .solution-stats-text h2, .solution-stats-text p{ width: 100%; }
    .stats-cards-5{ width: 300px; }
    .soln-stats-cards{ width: 230px; }
    .stakeholders-cards{ width: 254px; }
    .site-cro-card, .parti-payments-card{ width: 390px; }
    .solution-hero.light-orange-box, .solution-hero.hero-home{ height: 900px; }
    .soln-stats-img{ width: 430px; }
    .sol-stats-list-desc{ width: 350px; }
    .sol-hero-text{ flex-direction: column-reverse; justify-content: center; align-items: center; }
    .sol-hero-detail{ width: 100%; }
    .sol-hero-text{ width: 100%; }

    /* blog-page */
    .blog-list-cards{ width: 380px; height: 380px;  }
    .blog-list-card-rw-2{ margin: 20px 0; }
    .blog-list-card-rw{ justify-content: space-between; }
    .blog-listing-card-detail{ height: max-content; }

    .container-sm{ max-width: 100%; } 
} 

@media screen and (max-width: 839px) { 
    .container { max-width: calc(750px + 36px); }
 
    /* font-size */
    h1, .h1{ font-size: 44px; line-height: 54px; }
    h2, .h2{ font-size: 30px; line-height: 40px; }
    h4, .h4{ font-size: 26px; line-height: 34px; }

    /* footer */
    .news-letter-button input{ width: 232px; }
    .news-letter-tab-btn .btn-padding{ padding: 10px 20px; }
    .footer-lets-connect{ font-size: 108px; line-height: 118px; }
    .footer-cta-left{ width: 100%; text-align: center; }
    .glass-footer-cta{ flex-direction: column; gap: 30px; }
    .glass-footer-cta{ gap: 20px; }

    /* soln page */
    .site-cro-card, .parti-payments-card{ width: 350px; }
    .sol-stats-list{ flex-direction: column; gap: 20px; }
    .sol-stats-list-desc{ width: 100%; }
    .soln-stats-img{ width: 100%; }
    .soln-stats-cards{ width: 210px; }
    .stats-cards-5{ width: 270px; padding: 20px; }
    .sol-hero-detail{ width: 100%; }
    .sol-hero-text{ width: 100%; }
    .sol-stats-card-1, .sol-stats-card-2, .stats-cards-5{ flex-direction: row; }
    .stats-cards-5{ width: 100%; height: max-content; }
    .stats-cards-5 .h6{ width: 50%; text-align: left; }
    .soln-stats-cards{ width: 355px; height: 120px; }
    .sol-stats-cards{ flex-direction: column; }
    .soln-stats-cards .h2{ margin-bottom: 10px; }
    .solution-hero.hero-home{ height: 940px; }

    /* blog */
    .blog-list-cards{ width: 346px; height: 361px; }
    .blog-listing-card-detail .h5{ padding: 10px 0; }
}

@media screen and (max-width: 767px) {
    .container { max-width: calc(600px + 36px);}

    /* font-size */
    h1, .h1{ font-size: 42px; line-height: 52px; }
    h3, .h3{ font-size: 28px; line-height: 38px; }

    /* footer */
    .footer-lets-connect{ font-size: 88px; line-height: 98px; }

    .footer-links-section{ flex-wrap: wrap; }

    /* soln page */
    .sol-stats-cards{ flex-direction: column; }
    .sol-stats-card-1, .sol-stats-card-2{ flex-direction: row; }
    .soln-stats-cards{ width: 290px; }
    .stats-cards-5{ padding: 20px; }
    .soln-workflow-card-1{ flex-direction: column; }
    .soln-worflow-card, .soln-workflow-card-2{ flex-direction: column; }
    .stakeholders-cards{ width: 100%; height: 200px; }
    .soln-workflow-card-1 img{ height: 260px; }
    .solution-hero.hero-home{ height: 840px; }
    .solution-stats-text, .soln-workflow-text{ text-align: left; }

    /* blog */
    .digi-payment-blog{ padding: 5px 10px; }
    .blog-list-cards{ width: 346px; height: 320px; }
    .blog-detail-heading{ text-align: left; padding-top: 130px; }
    .blog-detail-breadcrumb{ display: none; }
}

@media screen and (max-width: 639px) {
    .container { max-width: calc(500px + 36px); }

    /* font-size */
    h1, .h1{ font-size: 40px; line-height: 50px; }
    h2, .h2{ font-size: 32px; line-height: 42px; }
    h3, .h3{ font-size: 26px; line-height: 36px; }
    h4, .h4{ font-size: 24px; line-height: 34px; }
    h6, .h6{ font-size: 16px; line-height: 24px; }

    /* footer */

    .glass-footer-cta{ padding: 35px 50px; }
    .copy-right-wrapper{ flex-wrap: wrap; }
    .footer-lets-connect{ font-size: 72px; line-height: 60px; }

    /* soln responsive */
    .stats-cards-5{ width: 100%; } 
    .soln-stats-cards{ width: 240px; }
    .sol-stats-cards{ margin-top: 20px; }

    /* blog */
    .blog-list-card-rw{ flex-direction: column; gap: 20px; }
    .blog-list-cards{ width: 100%; height: max-content; }
    .blog-card-1 img{ width: 100%; }
}

@media screen and (max-width: 575px) {
    /* font-size */
    h1, .h1{ font-size: 34px; line-height: 44px; }
    h3, .h3{ font-size: 24px; line-height: 34px; }

    /* footer */
    .footer-lets-connect{ font-size: 65px; line-height: 75px; }
    .footer-cta-btn{ padding: 10px 30px; }
    .footer-cta-left h2{ margin-bottom: 0; }
    .glass-footer-cta{ gap: 20px; }
    .glass-footer-cta{ padding: 30px 40px; }
    .footer-logo-section{ width: 100%; }

    /* soln page */
    .solution-hero.hero-home{ height: 530px; }
    .sol-hero-text-wrapper img{ display: none; }
    .sol-hero-detail{ width: 100%; }
    .stats-cards-5{ height: 245px; }
    .soln-stats-cards{ width: 210px;  }
    .sol-hero-text-wrapper{  width: 100%;  padding:0 40px 0 10px; padding-top: 100px;}
    .stakeholders-cards{ height: 210px; }
    .sol-hero-detail{ margin: 0 auto; }

    .mobile-menu{ padding-left: 18px; }
}

@media screen and (max-width: 480px) {
    /* font-size */
    h1, .h1{ font-size: 32px; line-height: 42px; }
    h2, .h2{ font-size: 30px; line-height: 40px; }

    /* footer */
    .footer-lets-connect{ font-size: 86px; line-height: 96px; -webkit-text-stroke: 1px var(--secondary-orange); }
    .glass-footer-cta{ padding: 30px; }

    /* header */
    .mobile-menu ul li a{ font-size: 24px; }
    .headerLogo{ width: 120px; }
    .bar{ width: 24px; }

    /* soln page */
    .solution-hero.hero-home{ height: 550px; }
    .soln-stats-cards{ width: 200px; height: 130px; }
    .soln-stats-cards h4, .soln-stats-cards p{ margin-bottom: 0; }
    .sol-hero-text{ padding-top: 0; }
    .stats-cards-5{ padding: 33px 20px; }
    .stats-cards-5 h4{ margin-bottom: 5px; }
    .stakeholders-cards{ height: 236px; }
    .blog-image-section-icons span{ font-size: 20px; }
}

@media screen and (max-width: 459px) {
    /* font-size */
    h1, .h1{ font-size: 26px; line-height: 36px; }
    h2, .h2{ font-size: 24px; line-height: 34px; }

    /* footer */
    .glass-footer-cta{ padding: 20px; }
    .solution-hero.hero-home{ height: 330px;  }
    .sol-hero-detail p{ padding-top: 0; }

    /* soln page */
    .sol-stats-card-1, .sol-stats-card-2{ display: none; }
    .sol-stats-scroll-wrapper { display: flex; overflow: hidden; width: 100%; gap: 20px; position: relative;}
    .sol-stats-scroll-wrapper .scroll-track { display: flex; gap: 20px; flex-shrink: 0; animation: scrolling 12s linear infinite; }
    .soln-stats-cards { min-width: max-content; height: 150px; flex: 0 0 auto; padding: 10px; }
    @keyframes scrolling {
        0%   { transform: translateX(0); }
        100% { transform: translateX(-100%); }
    }

    .stats-cards-5{ width: 100%; height: max-content; gap: 20px; }
    .solution-hero.hero-home{ height: max-content; }
    .sol-hero-text-wrapper{ transform: none; position: relative; z-index: 3;  }

    .blog-listing-tabs{ flex-direction: column; gap: 20px; }
    .sol-hero-detail{ padding-bottom: 20px; }
    .stats-cards-5{ flex-direction: column; padding: 20px; }
    .stats-cards-5 .h6{ width: 100%; }
}

@media screen and (max-width: 400px) {
    /* footer */
    .footer-lets-connect{ font-size: 78px; line-height: 88px; }
    .footer-links-section{ flex-direction: column; }
    .news-letter-tab-btn{ width: 100%; flex-direction: column; gap: 10px; align-items: flex-start; }
    .news-letter-button input{ width: 320px; }
    .glass-footer-cta{ margin-bottom: 50px; }
    .news-letter-tab-btn .btn-padding{ padding: 8px 18px; }
    .stakeholders-cards{ height: 260px; }
    .headerLogo img{ width: 100px; }
    .sol-hero-text-wrapper{ padding-top: 50px; }
}

@media screen and (max-width: 374px) {
    .solution-hero .site-hero-blob{ z-index: -1; }
    .image-tag-wrapper{ flex-direction: column; align-items: flex-end; gap: 20px  ; }
}

@media screen and (max-width: 359px) {
    /* footer */
    .footer-lets-connect{ font-size: 66px; line-height: 76px; }
    .news-letter-button input{ width: 280px; }

    .stakeholders-cards{ height: 285px; }
}