@media screen and (min-width: 640px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1024px) {}
@media screen and (min-width: 1360px) {}
@media screen and (min-width: 1440px) {}
@media screen and (min-width: 1600px) {}
@media screen and (min-width: 1800px) { .container { max-width: calc(1600px + 36px); } }



/* ======= MIN-WIDTH COMPLETED ======= */


@media screen and (max-width: 1799px) {
    .container { max-width: calc(1400px + 36px); }
    h1, .h1{ font-size: 68px; line-height: 80px; }
    h4, .h4{ font-size: 30px; line-height: 38px; }

/* footer */
    .footer-lets-connect{ font-size: 204px; }

/* header */

}

@media screen and (max-width: 1599px) {
/* font-size */
    h1, .h1{ font-size: 66px; line-height: 76px;  }
    h2, .h2{ font-size: 52px; line-height: 62px; }
    h3, .h3{ font-size: 38px; line-height: 48px; }
    h4, .h4{ font-size: 28px; line-height: 38px; }

/* footer */
    .footer-links-section{ gap: 60px; }

/* header */
    .headerLogo{ width: 150px; }
}

@media screen and (max-width: 1439px) {
    .container { max-width: calc(1364px + 36px); }

/* font-size */
    h1, .h1{ font-size: 62px; line-height: 72px; }
    h2, .h2{ font-size: 48px; line-height: 58px; }
    .text-18{ font-size: 16px; line-height: 26px; }

/* footer */
    .footer-lets-connect{ font-size: 194px; }
    .footer-copyright-main{ padding-top: 0; }
}

@media screen and (max-width: 1359px) {
    .container { max-width: calc(1150px  + 36px); }

/* font-size */
    h1, .h1{ font-size: 54px; line-height: 64px; }
    h2, .h2{ font-size: 46px; line-height: 56px; }
    h3, .h3{ font-size: 36px; line-height: 46px; }
    h6, .h6{ font-size: 18px; line-height: 28px; }

/* footer */
    .footer-lets-connect{ font-size: 168px; line-height: 178px; }
    .footer-cta-left{ width: 400px; }
    .footer-logo-section{ width: 400px; }
    .footer-bottom{ flex-direction: column; gap: 50px; }

/* header */
    .link-padding{ padding: 10px 25px; }
}

@media screen and (max-width: 1199px) {
    .container { max-width: calc(980px  + 36px); }

/* font-size */
    h2, .h2{ font-size: 40px; line-height: 50px; }

/* footer */
    .footer-lets-connect{ font-size: 144px; line-height: 154px; }
    .news-letter-button input{ width: 300px; }
    .footer-mail-sec span, .footer-call-sec span{ font-size: 16px; }
    .footer-social-icons span{ font-size: 24px; }
    .footer-copyright-main{ margin-top: 70px; }

/* header */
    .headerLogo{ width: 150px; height: auto; }
}

@media screen and (max-width: 1023px) {
    .container { max-width: calc(991px + 36px); }

/* font-size */
    h1, .h1{ font-size: 52px; line-height: 62px; }
    h2, .h2{ font-size: 32px; line-height: 42px; }
    .text-16{ font-size: 14px; line-height: 24px; }

/* footer */
    .footer-lets-connect{ font-size: 140px; }
    .glass-footer-cta{ padding: 35px 60px; }
}

@media screen and (max-width: 991px) {
    .container { max-width: calc(800px + 36px); }

/* font-size */
    h1, .h1{ font-size: 48px; line-height: 58px; }
    h2, .h2{ font-size: 32px; line-height: 42px; }
    h3, .h3{ font-size: 32px; line-height: 42px; }
    h4, .h4{ font-size: 28px; line-height: 38px; }
    h5, .h5{ font-size: 22px; line-height: 32px; }
    /* h6, .h6{ font-size: 16px; line-height: 24px; } */
    .text-18{ font-size: 14px; line-height: 24px; }

/* footer */
    .footer-lets-connect { font-size: 118px; line-height: 128px; }  
    .footer-links-section, .footer-bottom{ gap: 40px; }

/* header */
 .hamburger {
    display: flex;
  }

  .header-nav-links,
  .contact-link {
    display: none !important;
  }

  .mobile-menu {
    position: fixed; /* full screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background: rgb(240, 240, 240);
    transition: height 0.35s ease;
    z-index: 10000; /* lower than header */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-left: 70px;
  }

  .mobile-menu.open {
    height: 100vh;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
    font-size: 24px;padding-top: 100px;
  }

  .mobile-menu ul li a {
    font-size: 30px;
    color: var(--black);
    text-decoration: none;
    font-weight: 500;
  }
/* .mobile-menu ul li a :hover{ color: ; } */

.mobile-menu ul li a:hover{ color: var(--secondary); }
  /* .header-wrapper.shrink{ background: none; } */

  .mobile-menu.open .header-wrapper.shrink{ background-color: transparent; }

}

@media screen and (max-width: 839px) { 
    .container { max-width: calc(750px + 36px); }
 
/* font-size */
    h1, .h1{ font-size: 44px; line-height: 54px; }
    h2, .h2{ font-size: 30px; line-height: 40px; }
    h4, .h4{ font-size: 26px; line-height: 34px; }

/* footer */
    .news-letter-button input{ width: 232px; }
    .news-letter-tab-btn .btn-padding{ padding: 10px 20px; }
    .footer-lets-connect{ font-size: 108px; line-height: 118px; }

/* header */

}

@media screen and (max-width: 767px) {
    .container { max-width: calc(600px + 36px);}

/* font-size */
    h1, .h1{ font-size: 42px; line-height: 52px; }
    h3, .h3{ font-size: 28px; line-height: 38px; }

/* footer */
    .footer-lets-connect{ font-size: 88px; line-height: 98px; }
    .footer-cta-left{ width: 100%; text-align: center; }
    .glass-footer-cta{ flex-direction: column; gap: 30px; }
    .footer-links-section{ flex-wrap: wrap; }
}

@media screen and (max-width: 639px) {
    .container { max-width: calc(500px + 36px); }

/* font-size */
    h1, .h1{ font-size: 40px; line-height: 50px; }
    h2, .h2{ font-size: 32px; line-height: 42px; }
    h3, .h3{ font-size: 26px; line-height: 36px; }
    h4, .h4{ font-size: 24px; line-height: 34px; }
    h6, .h6{ font-size: 16px; line-height: 24px; }

/* footer */

    .glass-footer-cta{ padding: 35px 50px; }
    .copy-right-wrapper{ flex-wrap: wrap; }
    .footer-lets-connect{ font-size: 72px; line-height: 60px; }
}

@media screen and (max-width: 575px) {
/* font-size */
    h1, .h1{ font-size: 34px; line-height: 44px; }
    h3, .h3{ font-size: 24px; line-height: 34px; }

/* footer */
    .footer-lets-connect{ font-size: 65px; line-height: 75px; }
    .footer-cta-btn{ padding: 10px 30px; }
    .footer-cta-left h2{ margin-bottom: 0; }
    .glass-footer-cta{ gap: 20px; }
    .glass-footer-cta{ padding: 30px 40px; }
    .footer-logo-section{ width: 100%; }
}

@media screen and (max-width: 480px) {
/* font-size */
    h1, .h1{ font-size: 32px; line-height: 42px; }
    h2, .h2{ font-size: 30px; line-height: 40px; }

/* footer */
    .footer-lets-connect{ font-size: 86px; line-height: 96px; -webkit-text-stroke: 1px var(--secondary-orange); }
    .glass-footer-cta{ padding: 30px; }

/* header */
    .mobile-menu ul li a{ font-size: 24px; }
    .headerLogo{ width: 120px; }
    .bar{ width: 24px; }
}

@media screen and (max-width: 459px) {
/* font-size */
    h1, .h1{ font-size: 26px; line-height: 36px; }
    h2, .h2{ font-size: 24px; line-height: 34px; }

/* footer */
    .glass-footer-cta{ padding: 20px; }
}

@media screen and (max-width: 400px) {
/* footer */
    .footer-lets-connect{ font-size: 78px; line-height: 88px; }
    .footer-links-section{ flex-direction: column; }
    .news-letter-tab-btn{ width: 100%; flex-direction: column; gap: 10px; align-items: flex-start; }
    .news-letter-button input{ width: 320px; }
    .glass-footer-cta{ margin-bottom: 50px; }
    .news-letter-tab-btn .btn-padding{ padding: 8px 18px; }
}

@media screen and (max-width: 374px) {

}

@media screen and (max-width: 359px) {
/* footer */
    /* .footer-lets-connect{ font-size: 74px; line-height: 84px; } */
}