@media screen and (max-width: 575px) { .container { max-width: calc(100% + 36px); } }
@media screen and (min-width: 640px) { .container { max-width: calc(500px + 36px); } }
@media screen and (min-width: 768px) { .container { max-width: calc(700px + 36px); } }
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1024px) { .container { max-width: calc(800px + 36px); } }
@media screen and (min-width: 1200px) { .container { max-width: calc(960px + 36px); } }
@media screen and (min-width: 1360px) { .container { max-width: calc(1060px + 36px); } }
@media screen and (min-width: 1440px) { .container { max-width: calc(1200px + 36px); } }
@media screen and (min-width: 1600px) { .container { max-width: calc(1300px + 36px); } }
@media screen and (min-width: 1800px) { .container { max-width: calc(1440px + 36px); } }



/* ======= MIN-WIDTH COMPLETED ======= */


@media screen and (max-width: 1799px) {
    /* .container { max-width: calc(1400px + 36px); } */
    h1, .h1{ font-size: 46px; line-height: 55px; }
    h2, .h2{ font-size: 38px; line-height: 46px; }
    h3, .h3{ font-size: 34px; line-height: 44px; }
    h4, .h4{ font-size: 26px; line-height: 34px; }
    .section{ padding: 120px 0; }
    .section-bottom{ padding-bottom: 120px; }

    /* header */
    .headerLogo img{ width: 110px !important; height: auto !important; }
    .footer-logo{ width: 110px !important; height: auto; }

    /* footer */
    /* .footer-logo{ width: 150px; height: auto; } */
    .footer-lets-connect{ font-size: 194px; line-height: 194px; }
    .footer-links-section{ gap: 50px; }
    .footer-copyright-main{ margin-top: 70px; }
    .news-letter-button input{ width: 300px; }
    .footer-logo-section{ width: 290px; }
    .footer-social-icons span, .footer-social-icons span.icon-facebook{ font-size: 18px; }
    .footer-call-sec span, .footer-mail-sec span{  font-size: 18px; }


    /* soln page */
    .sol-hero-detail{ width: 750px; }

    .solution-stats-text p{ width: 620px; }
    .soln-stats-img{ width: 615px; }
    /* .sol-stats-list{ padding-top: 50px; } */
    .sol-stats-list-desc{ width: 620px; }
    .sol-tick-desc{ align-items: flex-start; }
    .sol-tick-desc img{ padding-top: 10px; }
    .soln-stats-cards{ width: 400px; height: 150px; }
    /* .soln-workflow-card-1 img{ width: 1000px; } */
    /* .stakeholders-cards{ width: 454px; } */
    .stats-cards-5{ padding: 40px 30px; width: 460px; height: 320px; }

    .blog-card-1 img{ object-fit: cover; border-radius: 20px 20px 0 0; }
    .blog-list-cards{ width: 680px; height: 520px; }

    .container-sm{ max-width: 1300px; } 
    .contact-left{ width: 500px; }

    .advance-security-pro-text-desc{ width: 640px; }
    .adv-protextion-txt-head{ width: 670px; }

    .SecurityRegulatoryImage{ width: 650px; }
    .sec-regulatory-heading p{ width: 700px; }

    .comming-soon-logo img{ width: 200px !important; }
    .coming-soon-img{ width: 500px; }
    .stats-cards-5 .h6{ font-size: 16px; line-height: 20px; }
    .soln-stats-cards .h2{ font-size: 30px; line-height: 36px; margin-bottom: 16px; }
    .stats-cards-5 .h2{ font-size: 30px; line-height: 36px; margin-bottom: 16px; }
    .stakeholders-cards .h5{ font-size: 20px; line-height: 26px; }
    .stakeholders-cards p{ font-size: 16px; line-height: 20px; }
    .soln-workflow-img{ width: 860px; height: 420px; }
    .stakeholders-cards{ padding: 20px; width: 420px; height: 190px; }
    .stakeholders-cards .icon-sites-cros-payments, .icon-triggers-accruals, .icon-vendor-regualatory-payments, .icon-analytics-optimisation, .icon-participant-payments{ font-size: 22px; }
    .sec-regulatory-right{ width: 600px; height: 350px; }
    .sec-regulatory-text-wrap h5{ font-size: 22px; line-height: 28px; }

    .blog-slide-item img{ height: 550px  !important; }
    .blog-link{ padding: 8px 20px !important; margin-top: 40px !important; }
    .blog-list-cards{ width: 420px; height: 400px; }
    .blog-listing-card-wrapper{ margin-top: 40px; }
    .contact-left img{ width: 400px; }
    .contact-form input, .contact-form textarea{ margin-bottom: 0; }
    .footer-copyright-main{ padding-top: 0; }
    .adv-protection-cards h4{ padding-bottom: 0; }
    .sec-advance-gover-head .h6{ margin-bottom: 0; }
}

@media screen and (max-width: 1599px) {
    /* font-size */
    h1, .h1{ font-size: 46px; line-height: 55px;  }
    h2, .h2{ font-size: 34px; line-height: 42px; }
    h3, .h3{ font-size: 30px; line-height: 38px; }
    h4, .h4{ font-size: 24px; line-height: 32px; }
    h6, .h6{ font-size: 16px; line-height: 24px; }

    .text-18{ font-size: 16px; line-height: 26px; }
    .text-16{ font-size: 14px; line-height: 18px; }

    .section-bottom { padding-bottom: 100px; }

    /* header */
    .headerLogo img{ width: 105px !important; height: auto !important; }
    .footer-logo{ width: 105px !important; height: auto; }

    /* footer */
    /* .footer-logo{ width: 130px; height: auto; } */
    .footer-lets-connect{ font-size: 179px; line-height: 170px; }
    .footer-cta-left{ width: 750px; }
    .footer-social-icons span, .footer-social-icons span.icon-facebook, .footer-call-sec span, .footer-mail-sec span{ font-size: 16px; }
    .footer-logo-section{ width: 260px; }
    .footer-cta-left p{ margin-bottom: 0px; }

    /* header */
    /* .headerLogo{ width: 150px; } */

    /* soln */
    .sol-hero-detail{ width: 670px; }
    /* blog */
    .container-sm{ max-width: 1100px; } 
    .blog-detail-heading{ width: 100%; }
    .contact-left{ width: 590px; }
    .SecurityRegulatoryImage{ object-fit: cover; border-radius: 20px; }

    .comingsoon-content img{ width: 200px !important; }
    .coming-soon-img{ width: 400px !important; }

    .comingsoon-wrapper{ gap: 220px !important; }
    .soln-stats-cards{ width: 360px; }
    .soln-workflow-text .h6{ margin-bottom: 0; }
    .stats-cards-5{ width: 435px; }
    .solution-stats-text h2{ width: 600px; }
    .solution-stats-text p{ width: 580px; }
    .sol-stats-list{ margin-top: 40px; }
    .soln-stats-img{ width: 550px; }
    .sol-stats-list-desc{ width: 580px; }

    .soln-workflow-img{ width: 790px; height: 390px; }
    .stakeholders-cards{ width: 390px; height: 185px; }
    .stakeholders-cards p{ font-size: 14px; line-height: 18px; }

    .adv-protextion-txt-head{ width: 610px; }
    .adv-protection-cards h4{ padding-bottom: 0; }
    .adv-protection-cards span{ font-size: 22px; }
    .adv-protection-cards .h5{ font-size: 20px; line-height: 30px; padding-top: 0px; }
    .adv-protection-cards{ width: 510px; }
    .sec-regulatory-heading h2{ width: 450px; }
    .sec-regulatory-heading p{ width: 620px; }
    .sec-regulatory-left{ width: 600px; }
    .sec-regulatory-right{ width: 560px; height: 320px; }
    .sec-regulatory-text-wrap h5{ margin-bottom: 10px; }
    .sec-regulatory-wrapper{ padding-top: 30px; }
    .sec-advance-gover-head{ padding-bottom: 30px; }
    .blog-list-cards{ width: 385px; height: 360px; }
    .blog-listing-card-detail > span{ font-size: 12px; line-height: 18px; margin-bottom: 0; }
    .blog-listing-title{ padding-bottom: 15px; }
    .blog-listing-card-wrapper{ justify-content: space-between; }
    /* .contact-form input, .contact-form textarea */
    .contact-left{ width: 430px; }
    .contact-right{ width: 600px; }
    .contact-info-wrapper span{ font-size: 18px; }
    .info-card .h5{ font-size: 18px; line-height: 22px; margin-bottom: 10px; } 
    .row-2 input{ height: 55px; }
    .form-organization{ height: 55px; }
    .form-message{ height: 140px; }
    .contact-left img{ width: 365px; padding-top: 40px; }
    .info-card .text-18{ font-size: 14px; line-height: 20px; }
    .contact-info-wrapper{ padding-top: 65px; }
    .blog-image-section-icons span{ font-size: 24px; }
    .blog-section{ padding: 40px 0; }
    .blog-section li{ margin-bottom: 10px; }
} 

@media screen and (max-width: 1439px) {
    /* .container { max-width: calc(1364px + 36px); } */

    /* font-size */
    h1, .h1{ font-size: 36px; line-height: 42px; }
    h3, .h3{ font-size: 26px; line-height: 38px; }
    h4, .h4{ font-size: 22px; line-height: 30px; }
    h5, .h5{ font-size: 22px; line-height: 30px; }
    /* .text-18{ font-size: 16px; line-height: 26px; } */

    /* footer */
    .footer-lets-connect{ font-size: 158px; line-height: 148px; }
    .footer-bottom{ flex-direction: column; gap: 50px; } 
    .footer-logo-section{ width: 375px; } 
    .footer-links-section{ justify-content: space-between; width: 100%; }
    .footer-cta-left{ width: 620px; }
    /* .glass-footer-cta{ flex-direction: column; gap: 30px; align-items: flex-start; } */
    .footer-cta-left p{ padding-top: 10px; }

    /* soln page */
    .stats-cards-5{ width: 450px; }
    .soln-stats-cards{ width: 397px; }
    .solution-stats-text p, .sol-stats-list-desc{ width: 530px; }
    .stakeholders-cards{ width: 340px; }
    .soln-workflow-card-1 img{ width: 700px; }

    .blog-listing-card-wrapper{ margin-top: 40px; }
    .blog-list-cards{ width: 340px; height: 330px; }
    .blog-listing-cards-name-date > span{ font-size: 12px; line-height: 18px; margin-bottom: 0; }
    .blog-listing-card-detail > span{ padding: 6px 14px; }
    /* .contact-form-top{ gap: 170px; } */

    .advance-security-pro-text-desc{ width: 590px; }
    .adv-protextion-txt-head h2{ padding-bottom: 0; }

    .sec-regulatory-heading p{ width: 560px; margin-bottom: 0; }
    .SecurityRegulatoryImage{ width: 500px; }
    .comingsoon-content h1{ margin-bottom: 30px !important; }
    .comingsoon-content a{ margin-top: 10px !important; }
    .comingsoon-wrapper img{ width: 400px; }
    .comingsoon-wrapper{ justify-content: center !important; }

    .solution-stats-text h2{ width: 500px; }
    .soln-stats-img{ width: 480px; height: 240px; object-fit: cover; border-radius: 20px; }
    .sol-tick-desc img{ width: 9px; }
    .soln-stats-cards .h2, .stats-cards-5 .h2{ font-size: 20px; line-height: 28px; margin-bottom: 12px; }
    .soln-stats-cards .h6, .stats-cards-5 .h6{ font-size: 14px; line-height: 20px; margin-bottom: 0; }
    .soln-stats-cards{ width: 320px; height: 110px; }
    .stats-cards-5{ width: 370px; height: 240px; padding: 25px; }
    .sol-stats-cards{ margin-top: 20px; }
    .stakeholders-cards .h5{ font-size: 18px; line-height: 26px; }
    .soln-workflow-cards{ padding-top: 30px; }
    .stakeholders-cards .icon-sites-cros-payments, .icon-triggers-accruals, .icon-vendor-regualatory-payments, .icon-analytics-optimisation, .icon-participant-payments{ 
        font-size: 18px;
    }   
    .sec-regulatory-text-wrap h5{ font-size: 20px; line-height: 28px; }
    .sec-regulatory-text-wrap .text-18{ font-size: 14px; line-height: 20px; }
    .sec-regulatory-text-wrap img{ width: 10px; }
    .sec-regulatory-right{ width: 440px; height: 280px; }
    .sec-advance-gover-head{ width: 80%; }
    .adv-protection-cards{ width: 460px; }
    .adv-protextion-txt-head{ width: 545px; }
    .blog-slide-item img{ height: 500px  !important; }
    .contact-right{ width: 540px; }
    .contact-left{ width: 380px; }
    .contact-form-top{ gap: 120px; }
    .contact-info-wrapper span{ padding-top: 2; }
    .secur-card-head .h4{ font-size: 20px; line-height: 28px; }
    .contact-left img{ width: 310px; }
}

@media screen and (max-width: 1359px) {
    /* .container { max-width: calc(1150px  + 36px); } */

    /* font-size */
    h1, .h1{ font-size: 34px; line-height: 38px; }
    h2, .h2{ font-size: 30px; line-height: 38px; }
    h4, .h4{ font-size: 20px; line-height: 28px; }
    h5, .h5{ font-size: 20px; line-height: 28px; }
    /* h6, .h6{ font-size: 18px; line-height: 28px; } */
    .text-14{ font-size: 12px; line-height: 20px; }
    .text-18{ font-size: 14px ; line-height: 20px; }

    /* footer */
    /* .footer-logo{ width: 120px; height: auto; } */
    .footer-lets-connect{ font-size: 143px; line-height: 140px; }
    .footer-cta-left{ width: 585px; }
    .footer-logo-section{ width: 400px; }
    .footer-bottom{ flex-direction: column; gap: 50px; }
    .footer-copyright-main{ padding-top: 0px; margin-top: 45px; }
    .footer-cta-btn{ padding: 10px 30px; }
    .news-letter-button input{ width: 270px; height: 40px; }
    .btn-padding{ padding: 10px 23px; }

    /* header */
    .link-padding{ padding: 10px 25px; }

    /* soln page */
    .sol-hero-text img{ width: 470px; height: auto; }
    .sol-hero-detail{ width: 600px; }
    .stats-cards-5{ width: 320px; padding: 30px; }
    .soln-stats-cards{ width: 300px; }
    .solution-stats-text p{ margin-bottom: 0; }
    .sol-stats-list{ margin-top: 50px; }
    .solution-stats-text{ flex-direction: column; text-align: center; justify-content: center; align-items: center; }
    .solution-stats-text h2, .solution-stats-text p{ width: 900px; }
    .sol-stats-list-desc{ width: 480px; }
    .soln-stats-img{ width: 430px; height: 200px; }
    .stakeholders-cards{ width: 305px; height: 175px; }
    .soln-workflow-card-1 img{ width: 635px; height: 370px; }

    .blog-listing-card-detail .h5 { font-size: 20px; margin-bottom: 0; }
    .blog-list-cards{ width: 555px; height: 440px; }

    .container-sm{ max-width: 800px; } 
    .blog-detail-breadcrumb{ padding-top: 130px; }
    .blog-image-section-icons span{ font-size: 18px; }
    .contact-left{ width: 450px; }
    .contact-form-top{ justify-content: space-between; gap: 70px; }
    .contact-right { width: 500px; }
    .info-card{ width: 320px; }
    .contact-left img{ width: 300px; padding-top: 40px; }
    .blog-detail-heading{ padding-top: 30px; }
    .blog-image-main{ padding-top: 35px; }

    .sec-advance-gover-head{ width: 100%; }
    .sec-gover-cards-wrapper{ gap: 20px; }

    .adv-protextion-txt-head{ width: 490px; }
    .adv-protection-cards{ width: 410px; }
    .advance-security-pro-text-title{ width: 380px; margin-bottom: 0; }
    .advance-security-pro-text-desc{ width: 520px; margin-bottom: 0;  }
    .advance-security-pro-text{ justify-content: space-between; }

    .sec-regulatory-heading p{ width: 480px; }
    .sec-regulatory-right{ height: 250px; }
    .sec-regulatory-left{ width: 510px; }

    .row-2{ flex-direction: column; }

    .blog-detail-qns{ padding-top: 50px !important; }
    .blog-image-main{ padding-top: 50px; }

    .comingsoon-wrapper{ gap: 160px !important; }
    .comingsoon-content h1{ margin-top: 15px !important; margin-bottom: 20px !important; }

    .headerLogo img{ width: 100px !important ; height: auto !important; }
    .footer-logo{ width: 100px !important; height: auto; }

    .sol-stats-list{ margin-top: 30px; }
    .soln-stats-cards .h6, .stats-cards-5 .h6{ font-size: 12px; line-height: 18px; }

    .stakeholders-cards p{ font-size: 12px; line-height: 20px; }
    .stakeholders-cards .h5{ font-size: 16px; line-height: 20px; margin-bottom: 12px; }

    .blog-list-cards{ width: 470px; height: 370px; }
    .contact-form button{ margin-bottom: 0; }
    .contact-info-wrapper{ padding-top: 50px; }
    .contact-form input, .contact-form textarea{ padding: 15px; }
}   

@media screen and (max-width: 1199px) {
    /* .container { max-width: calc(980px  + 36px); } */

    /* font-size */
    h1, .h1{ font-size: 30px; line-height: 34px; }
    h2, .h2{ font-size: 28px; line-height: 34px; }
    h3, .h3{ font-size: 24px; line-height: 28px; }
    h5, .h5{ font-size: 18px; line-height: 28px; }
    h6, .h6{ font-size: 14px; line-height: 20px; }
    .text-16{ font-size: 12px; line-height: 18px; }
    .text-18{ font-size: 12px; line-height: 18px; }
    .section-bottom { padding-bottom: 70px; }

    /* header */
    /* .headerLogo img{ width: 105px !important; height: auto !important; } */
    .header-nav-links ul{ gap: 30px; }


    /* footer */
    /* .footer-logo{ width: 105px; height: auto; } */
    .footer-lets-connect{ font-size: 119px; line-height: 120px; }
    .news-letter-button input{ width: 300px; }
    .footer-social-icons span, .footer-social-icons span.icon-facebook, .footer-call-sec span, .footer-mail-sec span{ font-size: 14px; }
    .footer-copyright-main{ margin-top: 70px; }
    .footer-cta-left{ width: 430px; }
    .news-letter-button input{ width: 270px; }

    /* soln page */
    .sol-hero-text img{ width: 300px; }
    .sol-hero-detail{ width: 550px; }
    /* .sol-stats-cards{ gap: 20px; }
    .soln-stats-cards{ width: 275px; height: 200px; }
    .stats-cards-5{ height: 423px; }
    .soln-stats-img{ width: 535px; } */
    .sol-stats-list-desc{ width: 385px; }
    .stakeholders-cards{ width: 253px; height: 200px; }
    .stakeholders-cards .h5{ margin-top: 6px; }
    .soln-workflow-card-1{ flex-direction: column-reverse; }
    .soln-worflow-card{ flex-direction: row; }
    .soln-workflow-card-1 img{ width: 70%; height: 300px; object-fit: cover; border-radius: 20px; }
    .site-cro-card, .parti-payments-card{ width: 385px; height: 160px; }
    /* .sol-stats-card-1, .sol-stats-card-2{ gap: 20px; } */
    .soln-stats-img{ width: 370px; }
    .soln-stats-cards{ width: 240px; height: 110px; }
    .stats-cards-5{ width: 280px; height: 240px; }
    .soln-stats-cards .h2, .stats-cards-5 .h2{ font-size: 18px; line-height: 24px; margin-bottom: 10px; }
    .solution-stats-text h2, .solution-stats-text p{ width: 100%; }


    /* blog */
    .blog-listing-card-detail{ padding: 20px 15px 30px; }
    .blog-list-cards{ width: 390px; height: 330px; }

    /* contact */
    .row-2 input, .contact-form input{ height: 50px; }
    .info-card .text-18{ font-size: 12px; line-height: 18px; }
    .contact-info-wrapper span{ font-size: 14px; padding-top: 4px; }
    .footer-copyright-main{ margin-top: 40px; }

    /* security & compliance */
    .secur-gover-card{ padding: 10px; }

    .advance-security-pro-text{ flex-direction: column; gap: 30px; width: 800px; margin: 0  auto;  }
    .advance-security-pro-text-title, .advance-security-pro-text-desc { margin-bottom: 0; width: 100%; text-align: center; }
    .adv-protection-cards{ width: 370px; }
    .adv-protection-cards h4{ padding: 12px 0; margin-bottom: 0; }
    .adv-protextion-txt-head{ width: 370px; }
    .adv-protection-cards-main{ gap: 20px; }

    .sec-regulatory-heading{ flex-direction: column; justify-content: center; align-items: center; text-align: center; gap: 30px; }
    .sec-regulatory-heading h2, .sec-regulatory-heading p{ width: 800px; }
    .sec-regulatory-left{ width: 445px; }
    .SecurityRegulatoryImage{ width: 420px; }
    .testimonials .slide-item-details{ width: 710px; }
    .adv-protextion-txt-head p{ padding-top: 0; }
    .sec-regulatory-text-wrap h5{ font-size: 18px; line-height: 26px; }
    .sec-regulatory-heading{ gap: 20px; }
    .sec-regulatory-text-wrap .text-18{ font-size: 12px; line-height: 20px; }
    .sec-regulatory-right{ width: 330px; }

    .advance-security-pro-text{ width: 100%; }
    .blog-section h3{ margin-bottom: 12px; }
    .blog-section li{ margin-bottom: 6px; }
    .blog-section{ padding: 30px 0; }
    .advance-security-pro-text{ gap: 15px; }
    .secur-card-head .h4{ font-size: 16px; line-height: 20px; margin-bottom: 8px; }
}

@media screen and (max-width: 1023px) {
    .header-nav-links ul { gap: 15px; }
    /* .container { max-width: calc(991px + 36px); } */

    /* font-size */
    /* h1, .h1{ font-size: 52px; line-height: 62px; } */
    h3, .h3{ font-size: 20px; line-height: 26px; }
    h4, .h4{ font-size: 18px; line-height: 24px; }
    h5, .h5{ font-size: 16px; line-height: 24px; }

    /* header */
    .header-wrapper{ padding: 22px 20px; }
    .headerLogo img{ width: 80px !important; height: auto !important; }
    .footer-logo{ width: 80px !important; height: auto; }
    .header-nav-links ul{ gap: 20px; }


    /* footer */
    /* .footer-logo{ width: 85px; height: auto; } */
    .footer-lets-connect{ font-size: 104px; line-height: 103px; }
    .glass-footer-cta{ padding: 35px 60px; }
    .footer-links-section{ gap: 30px; }
    .news-letter-button input{ width: 220px; height: 35px; }
    .btn-padding{ padding: 8px 20px; }
    .footer-bottom{ gap: 40px; }
    .footer-social-icons{ padding-top: 25px; }
    .footer-copyright-main{ margin-top: 45px; }
    .glass-footer-cta{ margin: 40px 0; }

    /* soln page */
    .stats-cards-5{ width: 260px; }

    /* blog */
    .blog-list-cards{ width: 340px; height: 320px; }
    .blog-list-card-rw-2{ margin: 40px 0; padding: 0; }

    /* .container-sm{ max-width: 880px; }  */

    .contact-form-top { gap: 100px; } 
    .contact-info-wrapper{ padding-top: 65px; }
    .info-card .h5{ font-size: 16px; line-height: 22px; }
    .info-card{ padding: 13px; }
    .contact-form-top{ gap: 50px; }
    .contact-left img{ width: 270px; padding-top: 30px; }
    .contact-form input, .contact-form textarea{ padding: 15px; }
    .form-message{ height: 110px; }

    .comingsoon-wrapper img{ width: 360px; }
    .comingsoon-content img{ width: 180px !important; }

    .sol-stats-list-desc{ width: 305px; padding-bottom: 0; }
    .sol-stats-list{ align-items: flex-start; }
    .soln-stats-cards{ width: 200px; }

    .stakeholders-cards{ width: 220px; height: 220px; }
    .soln-workflow-card-1 img{ height: 250px; }
    .site-cro-card, .parti-payments-card{ width: 340px; height: 185px; }
    .adv-protection-cards .h5{ font-size: 18px; line-height: 26px; padding-bottom: 8px; }
    .adv-protection-cards{ width: 320px; }
    .adv-protextion-txt-head{ width: 340px; }
    .sec-regulatory-heading h2, .sec-regulatory-heading p{ width: 100%; }
    .sec-advance-gover-head p{ margin-bottom: 0; }
    .adv-protection-cards span{ font-size: 16px; }
    .secur-card-head .h4{ font-size: 14px; line-height: 20px; }
}

@media screen and (max-width: 991px) {
    /* .container { max-width: calc(800px + 36px); } */

    /* font-size */
    /* h1, .h1{ font-size: 48px; line-height: 58px; } */
    h2, .h2{ font-size: 26px; line-height: 34px; }
    h3, .h3{ font-size: 18px; line-height: 26px; }
    /* h5, .h5{ font-size: 22px; line-height: 32px; } */
    /* h6, .h6{ font-size: 16px; line-height: 24px; } */
    /* .text-18{ font-size: 14px; line-height: 24px; } */

    /* footer */
    .footer-links-section, .footer-bottom{ gap: 40px; }
    .footer-cta-left{ width: 380px; }

    /* header */
    .hamburger { display: flex; }
    .header-nav-links, .contact-link { display: none !important; }

    .mobile-menu {
        position: fixed; /* full screen */
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        background: rgb(240, 240, 240);
        transition: height 1s ease;
        z-index: 10000; /* lower than header */
        display: flex;
        flex-direction: column;
        /* padding-left: 90px; */
    }

    .mobile-menu.open { height: max-content; padding-bottom: 30px; }
    .mobile-menu ul { display: flex; flex-direction: column; gap: 15px; text-align: left; font-size: 24px;padding-top: 100px; padding-left: 22px; }
    .mobile-menu ul li a { font-size:16px; line-height: 22px; color: var(--black); text-decoration: none; font-weight: 500; }
    .mobile-menu ul li a:hover{ color: var(--secondary); }
    .mobile-menu.open .header-wrapper.shrink{ background-color: transparent; }

    /* soln page */
    .sol-hero-text{ flex-direction: column-reverse; padding-top: 150px; text-align: center; }
    .sol-hero-detail{ width: 100%; }
    .sol-hero-text img{ width: 500px; }
    .solution-hero { height: max-content; }
    .solution-hero.hero-home{ height: max-content; }

    .solution-stats-text h2, .solution-stats-text p{ width: 100%; }
    .stats-cards-5{ width: 280px; }
    .soln-stats-cards{ width: 190px; }
    /* .stakeholders-cards{ width: 254px; }
    .site-cro-card, .parti-payments-card{ width: 390px; } */
    .soln-stats-img{ width: 330px; }
    .sol-stats-list-desc{ width: 340px; }
    .sol-stats-list{ margin-top: 20px; }


    /* blog-page */
    .blog-list-cards{ width: 340px; height: 320px;  }
    .blog-listing-card-wrapper{ margin-top: 30px; }
    .blog-list-card-rw-2{ margin: 20px 0; }
    .blog-list-card-rw{ justify-content: space-between; }
    .blog-listing-card-detail{ height: max-content; }

    .container-sm{ max-width: 700px; } 
    .blog-detail-breadcrumb{ padding-top: 100px; }
    .blog-image-main{ padding-top: 30px; }

    .contact-form-top{ gap: 50px; }
    .contact-info-wrapper{ gap: 20px; }
    /* .info-card{ height: 130px; } */
    /* .contact-form-top { flex-direction: column; gap: 80px; }  
    .contact-head-main{ width: 500px; }
    .contact-left{ display: flex; gap: 50px; width: 100%; align-items: flex-start;}
    .contact-left img{ padding-top: 0; width: 400px; }
    .contact-right{ width: 600px; } */

    .sec-gover-cards-wrapper{ flex-direction: column; }
    .secur-gover-card{ flex-direction: row; width: 100%; text-align: left;  height: 150px;}
    .secur-gover-card img{ height: 100%; border-radius: 20px; object-fit: cover; }
    .sol-hero-text{ padding-top: 0; }

    .adv-protection-wrapper { display: block; }
    .adv-protextion-txt-head { width: 100%; position: static; margin-bottom: 25px; }
    .adv-protection-cards-main { display: none;}

    /* SCROLL WRAPPER */
    .adv-protection-scroll-wrapper { display: flex; overflow: hidden; gap: 20px; position: relative; }
    .adv-protection-scroll-wrapper .scroll-track { display: flex; gap: 20px; flex-shrink: 0; animation: scrolling 12s linear infinite; }
    .adv-card span{ font-size: 22px; }

    /* MOBILE CARD STYLE */
    .adv-card {
        width: 450px;
        padding: 20px;
        border-radius: 20px;
        flex: 0 0 auto;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @keyframes scrolling {
        0%   { transform: translateX(0); }
        100% { transform: translateX(-100%); }
    }

    .adv-protextion-txt-head p{ padding-top: 0; }
    .SecurityRegulatoryImage{ width: 345px; } 
    .sec-regulatory-left{ width: 420px; }

    .contact-hero .hero-details-wrapper img{ transform: none !important; }
    .solution-hero .hero-details-wrapper img{ transform: none !important; }
    .security-hero .hero-details-wrapper img{ transform: none !important; }
    .coming-soon-hero-wrapper{ gap: 200px !important; flex-direction: column !important; }    
    /* .capablty-lists:first-child{ width: 300px; } */
    /* .capablty-lists-divider{ display: block; width: 2px; height: 100%; } */
    /* .capablty-lists-wrapper{ gap: 90px !important; } */
    .privacy-policy-hero{ padding-top: 50px; }

    .comingsoon-wrapper{ gap: 120px !important; }
    .adv-protection-wrapper { max-height: max-content; }

    .animate-active.hero-btn-1 { animation: heroSlideLeft 0.9s ease-out forwards; animation-delay: 2s;}
    .animate-active.hero-btn-2 { animation: heroSlideLeft 0.9s ease-out forwards; animation-delay: 3s; }

    .adv-protection-swiper{ display: flex !important; }
    .adv-protection-swiper .swiper-slide{ height: 180px !important; }
    .adv-protection-swiper .swiper-pagination{ bottom: 0px !important; padding-top: 20px !important; right: 0 !important; text-align: right; }
    .adv-protection-swiper .swiper-wrapper{ height: 230px !important; }
    .adv-protection-swiper .swiper-pagination-bullet-active {
        opacity: 1;
        background: linear-gradient(135deg, #557cff 0%, #693399 100%);
        border-radius: 5px;
        width: 20px;
    }
} 

@media screen and (max-width: 839px) { 
    /* .container { max-width: calc(750px + 36px); } */
 
    /* font-size */
    h1, .h1{ font-size: 28px; line-height: 36px; }
    h4, .h4{ font-size: 16px; line-height: 24px; }

    /* header */
    /* .mobile-menu{ padding-left: 50px; } */

    /* footer */
    .news-letter-button input{ width: 232px; }
    .news-letter-tab-btn .btn-padding{ padding: 8px 20px; }
    /* .footer-lets-connect{ font-size: 108px; line-height: 118px; } */
    .footer-cta-left{ width: 85%; text-align: center; }
    .glass-footer-cta{ flex-direction: column; gap: 30px; }
    .glass-footer-cta{ gap: 20px; }
    .footer-cta-left p{ padding-top: 0; }
    .footer-social-icons{ gap: 15px; }

    /* soln page */
    .sol-hero-text{ padding-top: 120px; }
    .site-cro-card, .parti-payments-card{ width: 350px; }



    /* blog */
    .blog-list-cards{ width: 340px; height: 320px; }
    .blog-listing-card-detail .h5{ padding: 10px 0; }

    /* contact */
    .contact-left img{ width: 300px; padding-top: 50px; }
    .contact-form input, .contact-form textarea{ padding: 10px 20px; }
    /* .info-card .h5{ font-size: 18px; line-height: 28px; margin-bottom: 10px; } */
    .contact-form-top{ align-items: end; }
    .sec-advance-gover-head{ padding-bottom: 40px; }
    /* .contact-form-top{ flex-direction: column; } */
    .advance-security-pro-text{ width: 100%; }
    .adv-card{ width: 350px; }
    .sec-regulatory-heading h2, .sec-regulatory-heading p, .sec-regulatory-left { width: 100%; }
    .SecurityRegulatoryImage{ width: 100%; height: 300px; }
    .sec-regulatory-left{ gap: 20px; }
    /* .capablty-lists:first-child, .capablty-lists:last-child{ gap: 40px; } */
}

@media screen and (max-width: 767px) {
    /* .container { max-width: calc(600px + 36px);} */

    /* font-size */
    h2, .h2{ font-size: 24px; line-height: 32px; }
    /* h5, .h5{ font-size: 18px; line-height: 22px; } */

    /* header */
    /* .mobile-menu{ padding-left: 90px; } */
    /* .mobile-menu ul li a{ font-size: 28px; line-height: 28px; } */

    /* footer */
    .footer-lets-connect{ font-size: 74px; line-height: 73px; }
    .footer-links-section{ justify-content: flex-start !important; flex-wrap: wrap; gap: 40px; }
    .footer-cta-left{ width: 100%; text-align: center; }
    .glass-footer-cta{ padding: 30px; }
    .footer-cta-left p{ font-size: 12px; line-height: 20px;  }
    .footer-cta-btn{ padding: 8px 20px; }

    /* soln page */
    .sol-hero-text{ text-align: left; padding-top: 100px; }
    .sol-hero-text img{ display: none;}
    .soln-workflow-card-1{ flex-direction: column; }
    .soln-workflow-cards{ padding-top: 10px; }
    .soln-worflow-card, .soln-workflow-card-2{ flex-direction: column; }
    .stakeholders-cards{ width: 100%; height: 140px; }
    .soln-workflow-card-1 img{ width: 100%; height: 200px; }
    .solution-stats-text, .soln-workflow-text{ text-align: left; }
    .sol-hero-detail p{ padding-top: 0; }
    .sol-stats-list{ flex-direction: column; gap: 20px; }
    .sol-stats-list-desc{ width: 100%; }
    .soln-stats-img{ width: 100%; }
    /* .soln-stats-cards{ width: 210px; } */
    .stats-cards-5{ width: 100%; padding: 20px; }
    .sol-stats-card-1, .sol-stats-card-2, .stats-cards-5{ flex-direction: row; }
    .stats-cards-5{ width: 100%; height: 150px;}
    .stats-cards-5 .h6{ width: 50%; text-align: left; padding-left: 20px; }
    .soln-stats-cards{ width: 250px; height: 90px; }
    .sol-stats-cards{ flex-direction: column; }
    .soln-stats-cards .h2{ margin-bottom: 10px; }
    .sol-stats-card-1, .sol-stats-card-2{ width: 100%; }

    /* blog */
    .digi-payment-blog{ padding: 5px 10px; }
    .blog-list-cards{ width: 80%; height: 320px; }
    .blog-detail-heading{ text-align: left; padding-top: 130px; }
    .blog-detail-breadcrumb{ display: none; }

    /* contact */

    .contact-form-top{ flex-direction: column; }
    .contact-left{ width: 100%;  gap: 50px; }
    .contact-left img{ margin: 0 auto; padding-top: 30px; }
    .contact-right{ width: 100%; }
    .contact-info-wrapper{ flex-wrap: wrap; padding-top: 30px; }
    .contact-form-top{ gap: 30px; }
    .info-card{ width: 240px; height: max-content; }
    .sec-advance-gover-head{ text-align: left; }
    .sol-hero-text-wrapper{ padding-top: 0; }
    .advance-security-pro-text h2, .advance-security-pro-text p, .sec-regulatory-heading{ text-align: left; }
    .sec-regulatory-text-wrap{ padding-left: 0; }

    .plan-descrptn{ display: none !important; }
    .pricing-wrapper{ flex-direction: column; }
    .pricing-headings{ margin-bottom: 0 !important; }
    .plan-descrptn-tabs{ display: flex; justify-content: center; align-items: center; padding-top: 20px; }
    .plan-item{ width: 100%; }

    .plan-tabs-list{ margin: 0 auto; }
    .plan-descrptn-tabs { display: flex; flex-direction: column; align-items: center;    justify-content: center; width: 100%; }
    .plan-item { margin: 0 auto; }
    .plan-tabs-list { background: transparent !important; border: none !important; box-shadow: none !important; padding: 0; gap: 30px; }
    .plan-tab-trigger {
        background: transparent !important;
        border: none !important;
        box-shadow: none !important;
        color: #555;
        position: relative;
        padding: 8px 0;
    }

    .plan-tab-trigger::after {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 0; 
        height: 3px;
        border-radius: 50px;
        background: linear-gradient(100deg, #00092E 0%, #011e80 100%);
        transition: width 0.35s ease;
    }

    .plan-tab-trigger:hover::after { width: 100%; }
    .plan-tab-trigger[data-state="active"]::after { width: 100% !important; }

    .plan-tab-trigger[data-state="active"] { color: #00092E !important; }
    .pricing-mob-tabs{ width: 100%; }

    .coming-soon-hero-wrapper{ display: visible!important; }
    .coming-soon-img{ display: block!important; }

    .capablty-list{ width: 100% !important; }
    .capablty-lists:first-child{ width: 100%; }
    /* .capablty-lists:last-child{ gap: 40px; } */
    .capablty-lists-wrapper{ gap: 40px !important; }
    .terms-condition-main{ gap: 20px; }
    .cookienoticemain p, .privacypolicymain p, .termsmain p{ padding-top: 0; padding-bottom: 10px; }

    /* .capablty-lists{ align-items: flex-start; position: sticky; top: 0; } */  

    .comingsoon-wrapper{ flex-direction: column-reverse; }
    .comingsoon{ height: 820px!important; padding-top: 100px !important; }
    /* .comingsoon-wrapper{ padding-bottom: 500px !important; } */
    .comingsoon-wrapper{ gap: 50px !important; }

    /* .secur-gover-card{ flex-direction: column; } */
    /* .secur-gover-card img{ width: 100%; } */
    .adv-card span{ padding-bottom: 10px; }
    .sec-regulatory-wrapper{ flex-direction: column-reverse; gap: 20px; }
    .sec-regulatory-right{ width: 100%; height: 200px; }
    .blog-card-1 img{ height: 200px; }
    .blog-listing-card-detail > span{ font-size: 10px; line-height: 16px; }
    .row-2{ flex-direction: row; }
    .contact-left img{ width: 260px; }
    .sec-regulatory-left{ gap: 15px; }
    .sec-advance-gover-head{ padding-bottom: 25px; }
}

@media screen and (max-width: 639px) {
    /* .container { max-width: calc(500px + 36px); } */

    /* font-size */
    h1, .h1{ font-size: 26px; line-height: 32px; }
    h2, .h2{ font-size: 22px; line-height: 30px; }
    /* h5, .h5{ font-size: 20px; line-height: 28px; } */
    h6, .h6{ font-size: 12px; line-height: 20px; }

    /* header */
    /* .mobile-menu{ padding-left: 20px; } */

    /* footer */

    .glass-footer-cta{ padding: 35px 50px; }
    .copy-right-wrapper{ flex-wrap: wrap; }
    .footer-lets-connect{ font-size: 80px; line-height: 79px; }
    .footer-cta-left p{ padding-top: 10px; }

    /* soln responsive */
    .stats-cards-5{ width: 100%; } 
    .soln-stats-cards{ width: 260px; }
    .sol-stats-cards{ margin-top: 20px; }

    /* blog */
    .blog-list-card-rw{ flex-direction: column; gap: 20px; }
    .blog-list-cards{ width: 100%; height: max-content; }
    .blog-card-1 img{ width: 100%; }

    .info-card{ width: 260px; }
    .info-card .h5{ font-size: 14px; line-height: 20px; }
    /* .info-card-location{ width: 100%; } */
    /* .secur-gover-card{ flex-direction: column; } */

    .comingsoon-wrapper img{ width: 300px; }
    .comingsoon-content img{ width: 150px !important; }
    .comingsoon{ padding-top: 50px !important; height: 750px !important; }
    .mobile-menu ul{ padding-left: 0px; }
    .sec-regulatory-text-wrap h5{ font-size: 16px; line-height: 24px; margin-bottom: 6px; }
    .sec-regulatory-left{ gap: 10px; }
    .sec-advance-gover-head{ padding-bottom: 20px; }
    .sec-regulatory-wrapper{ padding-top: 20px; }
    .adv-protection-swiper .swiper-slide{ height: 160px !important; }
    .adv-protection-swiper{ height: 200px; }
}

@media screen and (max-width: 575px) {
    /* font-size */
    /* h1, .h1{ font-size: 34px; line-height: 44px; } */
    .text-14{ font-size: 10px; line-height: 18px; }

    /* header */
    /* .mobile-menu ul li a{ font-size: 24px; line-height: 24px; } */

    /* footer */
    .footer-lets-connect{ font-size: 65px; line-height: 75px; }
    .footer-cta-btn{ padding: 10px 30px; }
    .footer-cta-left h2{ margin-bottom: 0; }
    .glass-footer-cta{ gap: 20px; padding: 30px 40px; align-items: flex-start; }
    .footer-cta-left{ text-align: left; width: 100%; }
    .footer-logo-section{ width: 80%; }
    .footer-cta-left p{ font-size: 12px; line-height: 20px; }

    /* soln page */
    .stats-cards-5{ height: 150px; }
    .soln-stats-cards{ width: 210px;  }
    .stakeholders-cards{ height: 160px; }
    .sol-hero-detail{ margin: 0 auto; }

    /* .mobile-menu{ padding-left: 18px; } */
    .info-card{ padding: 15px; width: 100%;  }
    .secur-gover-card{ flex-direction: column; height: max-content; }
    .secur-card-head .h4{ margin-bottom: 10px; }
    .secur-gover-card img{ height: 200px; object-fit: cover; border-radius: 20px; }
    .row-2{ flex-direction: column; }
    .adv-protection-swiper .swiper-slide{ height: 180px !important; }
    .adv-protection-swiper{ height: 220px; }
}

@media screen and (max-width: 480px) {
    /* font-size */
    h1, .h1{ font-size: 24px; line-height: 32px; }
    /* h2, .h2{ font-size: 30px; line-height: 40px; } */

    /* footer */
    .footer-lets-connect{ font-size: 62px; line-height: 70px; -webkit-text-stroke: 1px var(--secondary-orange); }
    .glass-footer-cta{ padding: 30px; }
    .footer-bottom{ gap: 30px; }

    /* header */
    /* .mobile-menu ul li a{ font-size: 22px; line-height: 22px; } */
    /* .headerLogo{ width: 120px; } */
    .hamburger{ width: 20px; } 
    .bar{ width: 20px; }

    /* soln page */

    .soln-stats-cards{ width: 200px; }
    .soln-stats-cards h4, .soln-stats-cards p{ margin-bottom: 0; }
    .stats-cards-5{ padding: 33px 20px; }
    .stats-cards-5 h4{ margin-bottom: 5px; } 
    .stakeholders-cards{ height: 170px; }
    .stakeholders-cards .h5{ font-size: 14px; line-height: 22px; }
    .blog-image-section-icons span{ font-size: 20px; }
    .adv-protection-swiper .swiper-slide{ height: 160px !important; }
    .adv-protection-swiper { height: 200px; }
}

@media screen and (max-width: 459px) {
    /* font-size */
    h1, .h1{ font-size: 22px; line-height: 30px; }
    h2, .h2{ font-size: 20px; line-height: 28px; }

    /* footer */
    .glass-footer-cta{ padding: 20px; }
    .copy-right-wrapper{ gap: 15px; justify-content: space-around; }

    /* soln page */
    .sol-stats-card-1, .sol-stats-card-2{ display: none; }
    .sol-stats-scroll-wrapper { display: flex; overflow: hidden; width: 100%; gap: 20px; position: relative;}
    .sol-stats-scroll-wrapper .scroll-track { display: flex; gap: 20px; flex-shrink: 0; animation: scrolling 12s linear infinite; }
    .soln-stats-cards { min-width: max-content; height: 110px; flex: 0 0 auto; padding: 10px; }
    @keyframes scrolling {
        0%   { transform: translateX(0); }
        100% { transform: translateX(-100%); }
    }

    .stats-cards-5{ width: 100%; height: max-content; gap: 20px; }

    .blog-listing-tabs{ flex-direction: column; gap: 20px; }
    .stats-cards-5{ flex-direction: column; padding: 20px; }
    .stats-cards-5 .h6{ width: 100%; padding-left: 0; }
    .abt-hero-detail{ padding-top: 0px !important; }
}

@media screen and (max-width: 400px) {
    /* footer */
    .footer-lets-connect{ font-size: 70px; line-height: 70px; }
    .footer-links-section{ justify-content: space-between !important; gap: 25px; }
    .news-letter-tab-btn{ width: 100%; flex-direction: column; gap: 10px; align-items: flex-start; }
    .glass-footer-cta{ margin-bottom: 50px; }
    .news-letter-tab-btn .btn-padding{ padding: 8px 18px; }
    .stakeholders-cards{ height: 180px; }
    .sol-hero-text{ padding-top: 50px; }
    .adv-card{ width: 300px; }
    .news-letter-button input{ width: 250px ; }

    /* .mobile-menu ul li a{ font-size: 20px; line-height: 30px; } */
    .mobile-menu ul{ gap: 20px; }
    .mobile-menu ul { padding-top: 80px; }
    .coming-soon-image{ display: none; }
    .comingsoon{ height: 600px !important; }
    .comingsoon-wrapper{ height: 500px !important; }
    .comingsoon-content img { width: 200px !important; } 
}

@media screen and (max-width: 374px) {
    .adv-protection-swiper .swiper-slide{ height: 180px !important; }
    .adv-protection-swiper{ height: 220px; }
}

@media screen and (max-width: 359px) {
    /* footer */
    .footer-lets-connect{ font-size: 66px; line-height: 76px; }
    .news-letter-button input{ width: 280px; }

    .stakeholders-cards{ height: 190px; }
}