@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wjbjjl');
  src:  url('fonts/icomoon.eot?wjbjjl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wjbjjl') format('truetype'),
    url('fonts/icomoon.woff?wjbjjl') format('woff'),
    url('fonts/icomoon.svg?wjbjjl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e900";
}
.icon-sites-cros-payments:before {
  content: "\e918";
}
.icon-participant-payments:before {
  content: "\e919";
}
.icon-vendor-regualatory-payments:before {
  content: "\e91a";
}
.icon-triggers-accruals:before {
  content: "\e91b";
}
.icon-analytics-optimisation:before {
  content: "\e91c";
}
.icon-security-architecture:before {
  content: "\e91d";
}
.icon-contact-location:before {
  content: "\e91f";
}
.icon-contact-call:before {
  content: "\e921";
}
.icon-contact-mail:before {
  content: "\e923";
}
.icon-risk-monitoring:before {
  content: "\e924";
}
.icon-analytics:before {
  content: "\e925";
}
.icon-queue-health:before {
  content: "\e926";
}
.icon-reconciliation:before {
  content: "\e927";
}
.icon-digital-signature:before {
  content: "\e928";
}
.icon-immutable-audit:before {
  content: "\e929";
}
.icon-disburse:before {
  content: "\e92c";
}
.icon-pay-via:before {
  content: "\e92d";
}
.icon-hm-config-contract:before {
  content: "\e92f";
}
.icon-hm-onboard:before {
  content: "\e931";
}
.icon-footerCall:before {
  content: "\e932";
}
.icon-footerMail:before {
  content: "\e933";
}
.icon-twitter:before {
  content: "\e934";
}
.icon-instagram:before {
  content: "\e935";
}
.icon-facebook:before {
  content: "\e936";
}
