@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.container { max-width: 1636px; padding: 0 18px; margin: 0 auto; background-color: none; }

@font-face {
    font-family: 'poppins-rg';
    src: url('../../public/fonts/Poppins-Regular.woff2') format('woff2'),
    url('../../public/fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'poppins-md';
    src: url('../../public/fonts/Poppins-Medium.woff2') format('woff2'),
    url('../../public/fonts/Poppins-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'poppins-sb';
    src: url('../../public/fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('../../public/fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'poppins-bd';
    src: url('../../public/fonts/Poppins-Bold.woff2') format('woff2'),
    url('../../public/fonts/Poppins-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'icomoon';
  src:  
    url('/fonts/icon/icomoon.ttf?mrdxx') format('truetype'),
    url('/fonts/icon/icomoon.woff?mrdxx') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sites-cros-payments:before {
  content: "\e918";
}
.icon-participant-payments:before {
  content: "\e919";
}
.icon-vendor-regualatory-payments:before {
  content: "\e91a";
}
.icon-triggers-accruals:before {
  content: "\e91b";
}
.icon-analytics-optimisation:before {
  content: "\e91c";
}
.icon-security-architecture:before {
  content: "\e91d";
}
.icon-contact-location:before {
  content: "\e91f";
}
.icon-contact-call:before {
  content: "\e921";
}
.icon-contact-mail:before {
  content: "\e923";
}
.icon-risk-monitoring:before {
  content: "\e924";
}
.icon-analytics:before {
  content: "\e925";
}
.icon-queue-health:before {
  content: "\e926";
}
.icon-reconciliation:before {
  content: "\e927";
}
.icon-digital-signature:before {
  content: "\e928";
}
.icon-immutable-audit:before {
  content: "\e929";
}
.icon-disburse:before {
  content: "\e92c";
}
.icon-pay-via:before {
  content: "\e92d";
}
.icon-hm-config-contract:before {
  content: "\e92f";
}
.icon-hm-onboard:before {
  content: "\e931";
}
.icon-footerCall:before {
  content: "\e932";
}
.icon-footerMail:before {
  content: "\e933";
}
.icon-twitter:before {
  content: "\e934";
}
.icon-instagram:before {
  content: "\e935";
}
.icon-facebook:before {
  content: "\e936";
}
  

.text-rg { font-family: 'poppins-rg' !important; }
.text-md { font-family: 'poppins-md' !important; }
.text-sb { font-family: 'poppins-sb' !important; }
.text-bd { font-family: 'poppins-bd' !important; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { font-family: 'poppins-sb'; font-weight: normal; font-style: normal; }

h1, .h1 { font-size: 72px; line-height: 86px; margin-bottom: 20px; }
h2, .h2 { font-size: 46px; line-height: 58px; margin-bottom: 20px; }
h3, .h3 { font-size: 38px; line-height: 50px; margin-bottom: 20px; }
h4, .h4 { font-size: 32px; line-height: 44px; margin-bottom: 10px; }
h5, .h5 { font-size: 24px; line-height: 34px; margin-bottom: 10px; }
h6, .h6 { font-size: 20px; line-height: 30px; margin-bottom: 10px; }

p { font-family: 'poppins-rg'; font-size: 18px; line-height: 28px;  }

body { font-family: 'poppins-rg';  }

.text-20 { font-size: 20px; line-height: 30px; }
.text-18 { font-size: 18px; line-height: 28px; }
.text-16 { font-size: 16px; line-height: 24px; }
.text-14 { font-size: 14px; line-height: 20px; }
.text-12 { font-size: 12px; line-height: 18px; }