body { background-color: #FAFAFA; }

@keyframes blob-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes slide-right-left {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0%); }
}

:root { 
    --transition: 0.5s ease-in-out
}

.link-padding { padding: 12px 30px; }
.link-radius { border-radius: 30px; }

.btn-white { background-color: var(--white); color: var(--black); border: 1px solid var(--white); }
.btn-blue { background-color: var(--secondary-purple-bluish); color: var(--white); border: 1px solid var(--secondary-purple-bluish); }
.btn-tranpearent { background-color: transparent; color: var(--black); border: 1px solid var(--black); }
.btn-white:hover, .btn-blue:hover, .btn-tranpearent:hover { background: linear-gradient(100deg, #00092E 0%, #011e80 100%); border: linear-gradient(100deg, #00092E 0%, #011e80 100%); color: var(--white); }


.hero-home { width: 100%; height: 1000px; }
.site-hero { position: relative; overflow: hidden; }
.light-orange-box { width: 470px; height: 100%; display: block; position: absolute; top: 0; left: 0; background-color: var(--orange-light); }

.site-hero-blob { width: 800px; position: absolute; left: 50%; top: 0; animation: blob-rotate 10s linear infinite; }
.hero-details-wrapper { display: flex; justify-content: end; }
.home-hero-details { max-width: 850px; position: relative; padding-top: 100px; }
.home-hero-cta { margin-top: 60px; }
.home-hero-cta a:first-child { display: inline-block; margin-right: 20px; }
.home-stripe { width: max-content; height: 60px; display: flex; align-items: center; gap: 20px; background-color: var(--black); position: absolute; bottom: 180px; transform: rotate(-3deg); color: var(--white); }
.stripe-slogan { display: flex; align-items: center; gap: 20px; }
.stripe-slogan .h5 { margin-bottom: 0; }
.stripe-slogan { animation: slide-right-left 10s linear infinite; }
.home-hero-hand { position: absolute; bottom: 0; left: 0; }

.redefine-payment-wrapper { display: flex; align-items: center; justify-content: space-between; }
.redefine-pymt-details { width: 680px; }
.redefine-pymt-growth { width: 800px; min-height: 400px; position: relative; display: flex; align-items: end; }
.err-redc-center { transform: translateX(80%); position: relative; }
.reduction-spike-left { position: absolute; top: 45%; left: -210px; }
.reduction-spike-right { position: absolute; top: 25%; left: 100%; }
.faster-cycle, .payout-success { display: flex; align-items: center; gap: 40px; padding: 20px; position: absolute; top: 40px; left: -50%; background-color: rgba(237, 204, 253, 0.4); backdrop-filter: blur(20px); }
.payout-success { top: auto; bottom: 10%; left: auto; right: -50%; background-color: rgba(209, 234, 211, 0.4); backdrop-filter: blur(20px);  }
.redefine-payment { overflow: hidden; }

.works-headings { text-align: center; }
.dp-work-slider { margin-top: 60px; }
.dp-work-slide-item { width: 420px; padding-right: 60px; padding-bottom: 60px; }
.slide-item-icon { width: 60px; height: 60px; display: flex; align-items: center; justify-content: center; background-color: var(--light-grey); margin-bottom: 30px; }
.slide-item-icon span { font-size: 30px; }

.dhatupay-works { overflow: hidden; }
.dp-work-slide-item.active-slide .slide-item-icon { background: linear-gradient(135deg, #557CFF 0%, #693399 100%); color: var(--white); }
.dp-work-slide-item.active-slide .h5 { color: var(--secondary-purple-bluish); }
.slider-bottom-line { display: none; width: 100%; height: 2px; margin-top: 40px; background-color: var(--secondary-purple-bluish); }
.dp-work-slide-item.active-slide .slider-bottom-line { display: block; }

.seamless-payment { background-color: var(--orange-light); position: relative; }
.smls-pymt-headings { text-align: center; }

.smls-pymt-details { margin-top: 60px; display: flex; justify-content: space-between; }
.pymt-box { width: 270px; height: 200px; }
.smls-pymt-box-wrapper { display: flex; flex-direction: column; gap: 60px; }
.pymt-box h5 { width: 50%; }
.seamless-payment img { position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 30px); }
.dhatupay-works .swiper-pagination { text-align: right; }
.dhatupay-works .swiper-pagination-bullet { background-color: var(--grey); opacity: 0.5; }
.dhatupay-works .swiper-pagination-bullet-active { background: linear-gradient(135deg, #557CFF 0%, #693399 100%); width: 20px; border-radius: 5px; opacity: 1; }

.capabiblity-wrapper { display: flex; justify-content: space-between; }
.core-capablty-headings { width: 680px; }
.capablty-lists-wrapper { width: 810px; height: 520px; padding: 30px 0; display: flex; justify-content: space-between; }
.capablty-lists:first-child { display: flex; flex-direction: column; justify-content: end; }
.capablty-list { width: 370px; height: 160px; display: flex; justify-content: space-between; }
.capablty-icon { width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; background: linear-gradient(135deg, #557CFF 0%, #693399 100%); }
.list-details { width: 280px; }
.capablty-divider { width: 100%; height: 1px; display: block; background-color: #B8B8B8; margin: 30px 0; }
.capablty-lists-divider { width: 1px; height: 100%; background-color: #B8B8B8; }

.pricing { background-color: var(--white); }
.pricing-left-pillar { width: 480px; height: 870px; display: flex; flex-direction: column; justify-content: space-between; background-color: #8C67FB; color: var(--white); padding: 20px; }
.pricing-wrapper { display: flex; justify-content: space-between; }
.pillar-details { padding:  calc(30px - 20px) calc(60px - 20px); }
.pillar-details p + p { margin-top: 20px; }
.pricing-plan-details { width: 1056px; }
.pricing-headings { width: 750px; }