body { background-color: #FAFAFA; }

@keyframes blob-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes slide-right-left {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0%); }
}

:root { 
    --transition: 0.5s ease-in-out
}

::selection { background-color: var(--secondary-purple-bluish); color: var(--white); }

.link-padding { padding: 12px 30px; }
.link-radius { border-radius: 30px; }

.btn-white { background-color: var(--white); color: var(--black); border: 1px solid var(--white); }
.btn-blue { background-color: var(--secondary-purple-bluish); color: var(--white); border: 1px solid var(--secondary-purple-bluish); }
.btn-tranpearent { background-color: transparent; color: var(--black); border: 1px solid var(--black); }
.btn-white:hover, .btn-blue:hover, .btn-tranpearent:hover { background: linear-gradient(100deg, #00092E 0%, #011e80 100%); border: linear-gradient(100deg, #00092E 0%, #011e80 100%); color: var(--white); }

.hero-home { width: 100%; height: 1000px; }
.site-hero { position: relative; overflow: hidden; }
.light-orange-box { width: 470px; height: 100%; display: block; position: absolute; top: 0; left: 0; background-color: var(--orange-light); }

.site-hero-blob { width: 800px; position: absolute; left: 50%; top: 0; animation: blob-rotate 10s linear infinite; }
.hero-details-wrapper { display: flex; justify-content: end; }
.home-hero-details { max-width: 850px; position: relative; padding-top: 100px; }
.home-hero-cta { margin-top: 60px; }
.home-hero-cta a:first-child { display: inline-block; margin-right: 20px; }
.home-stripe { width: max-content; height: 60px; display: flex; align-items: center; gap: 20px; background-color: var(--black); position: absolute; bottom: 180px; transform: rotate(-3deg); color: var(--white); }
.stripe-slogan { display: flex; align-items: center; gap: 20px; }
.stripe-slogan .h5 { margin-bottom: 0; }
.stripe-slogan { animation: slide-right-left 15s linear infinite; }
.home-hero-hand { position: absolute; bottom: 0; left: 0; }

.redefine-payment-wrapper { display: flex; align-items: center; justify-content: space-between; }
.redefine-pymt-details { width: 680px; }
.redefine-pymt-growth { width: 800px; min-height: 400px; position: relative; display: flex; align-items: end; }
.err-redc-center { transform: translateX(80%); position: relative; }
.reduction-spike-left { position: absolute; top: 45%; left: -210px; }
.reduction-spike-right { position: absolute; top: 25%; left: 100%; }
.faster-cycle, .payout-success { display: flex; align-items: center; gap: 40px; padding: 20px; position: absolute; top: 40px; left: -50%; background-color: rgba(237, 204, 253, 0.4); backdrop-filter: blur(20px); }
.payout-success { top: auto; bottom: 10%; left: auto; right: -50%; background-color: rgba(209, 234, 211, 0.4); backdrop-filter: blur(20px);  }
.redefine-payment { overflow: hidden; }

.works-headings { text-align: center; }
.dp-work-slider { margin-top: 60px; }
.dp-work-slide-item { width: 420px; padding-right: 60px; padding-bottom: 60px; }
.slide-item-icon { width: 60px; height: 60px; display: flex; align-items: center; justify-content: center; background-color: var(--light-grey); margin-bottom: 30px; }
.slide-item-icon span { font-size: 30px; }

.dhatupay-works { overflow: hidden; }
.dp-work-slide-item.active-slide .slide-item-icon { background: linear-gradient(135deg, #557CFF 0%, #693399 100%); color: var(--white); }
.dp-work-slide-item.active-slide .h5 { color: var(--secondary-purple-bluish); }
.slider-bottom-line { display: none; width: 100%; height: 2px; margin-top: 40px; background-color: var(--secondary-purple-bluish); }
.dp-work-slide-item.active-slide .slider-bottom-line { display: block; background: linear-gradient(100deg, #00092E 0%, #011e80 100%); }

.seamless-payment { background-color: var(--orange-light); position: relative; }
.smls-pymt-headings { text-align: center; }

.smls-pymt-details { margin-top: 60px; display: flex; justify-content: space-between; }
.pymt-box { width: 270px; height: 200px; }
.smls-pymt-box-wrapper { display: flex; flex-direction: column; gap: 60px; }
.pymt-box h5 { width: 50%; }
.seamless-payment img { position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 30px); }
.dhatupay-works .swiper-pagination { text-align: right; }
.dhatupay-works .swiper-pagination-bullet { background-color: var(--grey); opacity: 0.5; }
.dhatupay-works .swiper-pagination-bullet-active { background: linear-gradient(135deg, #557CFF 0%, #693399 100%); width: 20px; border-radius: 5px; opacity: 1; }

.capabiblity-wrapper { display: flex; justify-content: space-between; }
.core-capablty-headings { width: 680px; padding-top: 30px; }
.capablty-lists-wrapper { width: 810px; height: 520px; padding: 30px 0; display: flex; justify-content: space-between; }
.capablty-lists:first-child { display: flex; flex-direction: column; justify-content: end; }
.capablty-list { width: 370px; height: 160px; display: flex; justify-content: space-between; }
.capablty-icon { width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; background: linear-gradient(135deg, #557CFF 0%, #693399 100%); }
.list-details { width: 280px; }
.capablty-divider { width: 100%; height: 1px; display: block; background-color: #B8B8B8; margin: 30px 0; }
.capablty-lists-divider { width: 1px; height: 100%; background-color: #B8B8B8; }

.pricing { background-color: var(--white); }
.pricing-left-pillar { width: 480px; height: 870px; display: flex; flex-direction: column; justify-content: space-between; background-color: #8C67FB; color: var(--white); padding: 20px; }
.pricing-wrapper { display: flex; justify-content: center; gap: 60px; }
.pillar-details { padding:  calc(30px - 20px) calc(60px - 20px); }
.pillar-details p + p { margin-top: 20px; }
.pricing-plan-details { width: 1056px; display: flex; flex-direction: column; justify-content: space-between; }
.pricing-headings { width: 750px;  }
.plan-descrptn { display: flex; justify-content: center; gap: 60px; }
.plan-item { width: 498px; height: 563px; padding: 30px; }
.plan-price { display: flex; justify-content: space-between; border-bottom: 1px solid #B8B8B8; }
.plan-price p + p { text-align: right; margin-bottom: 20px; }
.plan-price span { display: block; }
.plan-includes { margin-top: 20px; margin-bottom: 40px; padding: 20px 0; }
.plan-includes ul { margin-top: 20px; }
.plan-includes li { display: flex; align-items: center; gap: 20px; margin-bottom: 12px; }
.plans-link { width: 360px; display: block; background-color: var(--secondary-purple-bluish); color: var(--white); padding: 14px 0; margin: 0 auto; text-align: center; }
.plans-link.white-bg { background-color: var(--white); color: var(--black); }
.plans-link:hover { background: linear-gradient(100deg, #00092E 0%, #011e80 100%); border: linear-gradient(100deg, #00092E 0%, #011e80 100%); color: var(--white); }

.trust-headings { display: flex; align-items: start; justify-content: space-between; }
.trust-headings h2 { width: 690px; }
.trust-headings .h6 { width: 570px; }
.trust-tabs-list { width: max-content; height: max-content; padding: 5px; gap: 10px; margin: 0 auto; background-color: transparent; }
.trust-tabs { margin-top: 40px; }
.trust-tab-trigger { height: max-content; display: inline-block; padding: 8px 20px; color: var(--black); border-radius: 0px; }
.trust-tab-trigger { position: relative; background: transparent !important; box-shadow: none !important; }
.trust-tab-trigger[data-state="active"] { color: #00092E;  border: none; }
.trust-tab-trigger[data-state="active"]::after {
    content: "";
    position: absolute;
    bottom: -4px; 
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 50px;
    background: linear-gradient(100deg, #00092E 0%, #011e80 100%);
}
.tab-line-seprator { width: 100%; height: 2px; background-color: var(--light-grey); margin-top: 20px; margin-bottom: 30px; }
.trust-image-scalaton { display: block; width: 520px; height: 300px; background-color: var(--grey); }
.trust-tab-content { display: flex; align-items: center; justify-content: space-between; }
.trust-info { width: 600px; }
.trust-info .h5 { color: var(--secondary-purple-bluish); }
.bloh-highlight-headings { text-align: center; }

.home-blog-listing { margin-top: 60px; }
.blog-full { width: 100%; background-color: var(--white); display: flex; align-items: center; justify-content: start; gap: 40px; margin-bottom: 40px; }
.blog-half { width: calc(50% - 20px); background-color: var(--white); overflow: hidden; }
.category-chip { width: max-content; height: 36px; background-color: #F5F6F9; color: var(--secondary-purple-bluish); display: block; padding: 8px 20px; margin-bottom: 20px; }
.full-blog-info .home-blog-content { width: 590px; }
.home-blog-content .h5 { margin-bottom: 20px; }
.home-blog-content p { margin-bottom: 40px; }
.blog-writer { display: flex; justify-content: space-between; color: #B8B8B8; }
.blog-half-group { display: flex; justify-content: space-between; }
.half-blog-info { padding: 30px; }

.testimonials { background-color: var(--white); }
.testimonials h2 { text-align: center; }
.testimonial-slider { margin-top: 60px; }
.testimonial-slide-item { height: 350px !important; text-align: center; }
.testimonials .slide-item-details { width: 850px; margin: 0 auto; }
.testimonials .slide-item-details .h5 { margin-top: 60px; }
.testimonials .swiper-pagination { position: relative; display: flex; align-items: center; justify-content: center; gap: 20px; }
.testimonials .swiper-pagination-bullet { display: block; width: 60px; height: 60px; margin: 0 !important; opacity: 0.5; color: var(--black); background-color: var(--light-grey); }
.testimonials .swiper-pagination-bullet-active { background: linear-gradient(100deg, #00092E 0%, #011e80 100%); opacity: 1; color: white; }
.testimonials .swiper-pagination-bullet:nth-child(1)::before { content: "R"; font-family: 'poppins-md'; font-size: 32px; line-height: 60px; }
.testimonials .swiper-pagination-bullet:nth-child(2)::before { content: "P"; font-family: 'poppins-md'; font-size: 32px; line-height: 60px; }
.testimonials .swiper-pagination-bullet:nth-child(3)::before { content: "A"; font-family: 'poppins-md'; font-size: 32px; line-height: 60px; }

.faq-lists { width: 950px; }
.faq-headings { width: 870px; }
.faq-wrapper { display: flex; align-items: end; justify-content: space-between; }
.qna-list { margin-top: 60px; }
.qna-list .h6, .qna-list h3 { margin-bottom: 0; }
.faq-item { border: 1px solid var(--grey); }
.faq-item:not(:last-child) { margin-bottom: 20px; }
.faq-trigger { padding: 20px; }
.faq-trigger:hover { cursor: pointer; text-decoration: none; }
.faq-trigger svg { stroke-width: 2px; width: 30px; height: 30px; stroke: var(--black); }
.faq-content { padding: 20px; padding-top: 0; }


/* ABOUT-US PAGE */
.sub-site-hero { min-height: 700px; position: relative; overflow: hidden; }
.sub-site-hero .light-orange-box { height: 700px;  }
.subpage-hero-details { max-width: 850px; position: relative; padding-top: 100px; }
.sub-site-hero .hero-details-wrapper { justify-content: space-between; align-items: end; position: relative; }
.sub-site-hero .hero-details-wrapper img { transform: translateY(80px); }

.meet-dp-headings { display: flex; justify-content: space-between; }
.meet-dp-headings h2 { width: 700px; }
.meet-dp-headings .h6 { width: 720px; }


.glass-bg { position: relative; display: flex; justify-content: space-between; align-items: center; margin: 40px 0 70px 0; padding: 40px 80px; border-radius: 24px; background: rgba(255, 255, 255, 0.07); border: 1px solid rgba(255, 255, 255, 0.09); backdrop-filter: blur(14px); -webkit-backdrop-filter: blur(14px); overflow: hidden; z-index: 0; }
.glass-bg::before { content: ""; position: absolute; inset: 0; border-radius: inherit; padding: 1.5px; 
	background: conic-gradient(
		from var(--angle),
	  rgba(255,255,255,0.32),
	  rgba(255,255,255,0.15) 10%,
	  rgba(255,255,255,0.08) 40%,
	  rgba(255,255,255,0.03) 60%,
	  rgba(255,255,255,0.4) 90%,
	  rgba(255,255,255,0.32) ); 
      mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0); mask-composite: exclude; pointer-events: none; transition: --angle var(--anim-time) var(--anim-ease); z-index: 1; 
}

.glass-bg::after { content: ""; position: absolute; inset: 0; border-radius: inherit;
	background: linear-gradient(
	  120deg,
	  rgba(255, 255, 255, 0) 30%,
	  rgba(255, 255, 255, 0.25) 55%,
	  rgba(255, 255, 255, 0) 70%
	); mix-blend-mode: screen; opacity: 0.15; transform: translateX(-25%); transition: all var(--anim-time) var(--anim-ease); z-index: 2;
}

.glass-bg:hover::before { --angle: -120deg; }
.glass-bg:hover::after { opacity: 0.3; transform: translateX(25%); }

.future-of-payments { 
    background: linear-gradient(#00000033, #00000033),
        linear-gradient(#00000033, #00000033),
        linear-gradient(#00000033, #00000033), 
        linear-gradient( 135deg, #000000 0%, #0000E6 17%, #0017AD 33%, #000000 49%, #0000E6 69%, #0017AD 86%, #000733 100% ); 
    color: var(--white);
}

.payment-headings { text-align: center; }
.payment-list-item { padding: 40px; margin: 0; margin-top: 60px; display: flex; justify-content: space-between; border-radius: 20px; }
.item-details { width: 780px; display: flex; align-items: start; gap: 30px; }
.detailed-text { width: 700px; }
.detailed-text ul { margin-top: 20px; }
.detailed-text li { display: flex; align-items: flex-start; gap: 20px; }
.detailed-text li img { padding-top: 6px; }
.detailed-text li:not(:last-child) { margin-bottom: 14px; }

.regulatory-headings { display: flex; justify-content: space-between; }
.regulatory-headings h2, .regulatory-headings .h6 { width: 700px; }

.next-gen-headings { width: 90%; text-align: center; margin: 0 auto; }
.accordian-wrapper { margin-top: 60px; display: flex; justify-content: space-between; }
.accordian-list { width: 950px; }
.next-gen-item { margin-bottom: 0; border: 1px solid var(--light-grey); box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05); }
.next-gen-item h3 { margin-bottom: 0;  }
.next-gen-trigger { margin-bottom: 0; padding: 20px; }
.next-gen-trigger svg { stroke-width: 2px; width: 20px; height: 20px; stroke: var(--black); }
.next-gen-content { padding: 0 20px 20px; color: var(--grey); }
.next-gen-item:not(:first-child) { margin-top: 20px; }
.next-gen-gif { width: 600px; background-color: var(--grey); border-radius: 20px; }

.regulatory-slider { margin-top: 40px; position: relative; }
.regulatory-slide-item  { padding: 30px; height: 310px !important; margin-right: 30px !important; }
.regulatory-slider .swiper-pagination { position: relative; padding-top: 20px; text-align: right; }
.regulatory-item-icon { width: 60px; height: 60px; display: flex; align-items: center; justify-content: center; margin-bottom: 30px; }
.regulatory-item-icon span { font-size: 28px; color: var(--white); }
.regulatory-nav { justify-content: flex-end; }
.regulatory-nav button { width: 60px; height: 60px; border-radius: 50%; border: 1px solid var(--black); cursor: pointer; }
.regulatory-nav button:hover { background: linear-gradient(120deg, #00092E 0%, #011e80 100%); color: var(--white); }
.regulatory-nav button span { font-size: 30px; }
.regulatory-slider .swiper-pagination-bullet { background-color: var(--grey); opacity: 0.5; }
.regulatory-slider .swiper-pagination-bullet-active { background: linear-gradient(135deg, #557CFF 0%, #693399 100%); width: 20px; border-radius: 5px; opacity: 1; }

.financial-headings { text-align: center; }
.workflow-lists { margin-top: 60px; display: flex; align-items: center; justify-content: space-between; }
.wf-list-item { width: 530px; height: 170px; display: flex; justify-content: space-between; padding: 20px; }
.donut-circle { width: 375px; height: 375px; background: linear-gradient(120deg, #693399 0%, #557CFF 100%); border-radius: 50%; display: flex; align-items: center; justify-content: center; }
.donut-inner-circle { width: calc(100% - 120px); height: calc(100% - 120px); display: flex; align-items: center; justify-content: center; border-radius: 50%; background-color: var(--off-whitee); }
.donut-inner-circle span { line-height: 1; margin-bottom: 0; }
.wf-list-item:first-child { margin-bottom: 90px; }
.wf-list-icon { width: 50px; height: 50px; display: flex; align-items: center; justify-content: center; }
.wf-list-icon span { font-size: 30px; }
.wf-list-details { width: 410px; }
.wf-list-details .h5 { margin-bottom: 6px; }

.integration-headings { display: flex; justify-content: space-between; } 
.integration-headings h2 { width: 700px; }
.integration-headings .h6 { width: 500px; }

.content-item { width: 280px; }
.content-item p { color: var(--grey); }
.integration-tab-content { display: flex; align-items: center; justify-content: center; gap: 100px; }
.content-item:first-child { margin-bottom: 60px; }

.integration-accord { display: none; }
.integr-item { border-bottom: 1px solid var(--grey);  }

.blog-slider { padding-top: 100px; overflow: hidden; }
.blog-slide-item { height: 700px !important; position: relative; }
.blog-slide-item img { width: 100%; height: 700px; object-fit: cover; }
.slider-item-details { width: 1150px; position: absolute; top: 120px; left: 60px; color: var(--white); }
.slider-item-details span { color: #FBB98A; margin-bottom: 20px; }
.slider-item-details p { width: 570px; margin-bottom: 16px; }
.blog-link { border: 1px solid var(--grey); border-radius: 30px; margin-top: 60px; }
.blog-hero-slider .swiper-pagination { position: relative !important; text-align: right; padding: 30px 100px 0 0; }
.blog-swiper-slider .swiper-pagination-bullet { background-color: var(--grey); opacity: 0.5; }
.blog-swiper-slider .swiper-pagination-bullet-active { background: linear-gradient(135deg, #557CFF 0%, #693399 100%); width: 20px; border-radius: 5px; opacity: 1; }

    /* .blog-slide-item { height: 500px !important; } */