@media screen and (max-width: 1799px) {
    .hero-home { height: 900px; }
    .home-hero-hand { width: 700px; }
    .home-hero-details { max-width: 800px; }

    .redefine-pymt-details { width: 620px; }
    .center-pie { width: 350px; }
    .redefine-payment-wrapper { gap: 20px; }

    .seamless-payment img { width: 800px; }
}

@media screen and (max-width: 1599px) {
    .section { padding: 100px 0; }

    .home-hero-details { max-width: 700px; }
    .center-pie { width: 325px; }
    .faster-cycle, .payout-success { gap: 30px; padding: 15px; }
    .reduction-spike-left { width: 180px; left: -178px; }
    .reduction-spike-right { width: 120px; }
    .faster-cycle { top: 20px; }
}

@media screen and (max-width: 1439px) {
    .hero-home { height: 850px; }
    .home-hero-details { max-width: 630px; padding-top: 70px; }

    .link-padding { padding: 10px 20px; }
    .text-20 { font-size: 18px; line-height: 28px; }
    .site-hero-blob { width: 600px; left: 40%; }

    .redefine-pymt-details { width: 685px; }
    .center-pie { width: 290px; }
    .faster-cycle, .payout-success { padding: 10px 15px; }
    .redefine-pymt-growth .site-radius-20 { border-radius: 10px; }
    .dp-work-slide-item { padding-right: 40px; }
    .swiper-slide { height: 320px !important; }
    .seamless-payment img { width: 700px; }

}

@media screen and (max-width: 1359px) {
    .light-orange-box { width: 300px; }
    .hero-home { height: 800px; }
    .home-hero-hand { width: 550px; }
    .home-hero-cta { margin-top: 40px; }
    .stripe-slogan .h5 { font-size: 20px; line-height: 30px; }
    .redefine-pymt-growth { min-height: 350px; }
    .redefine-payment-wrapper { align-items: center; justify-content: center; }
    .redefine-pymt-details { width: 750px; }
    .err-redc-center { transform: translateX(70%); }
    .center-pie { width: 270px; }
    .reduction-spike-left { width: 150px; left: -148px; }
    .reduction-spike-right { width: 100px; }
    .faster-cycle { left: -65%; }
    .payout-success { right: -45%; }

    .seamless-payment img { width: 650px; }
    .pymt-box { width: 250px; }

}

@media screen and (max-width: 1199px) {
    .section { padding: 70px 0; }
    .home-hero-hand { transform: translateX(-15%); }
    .home-hero-details { max-width: 540px; padding-top: 90px; }
    .home-stripe { bottom: 140px }
    .text-20 { font-size: 16px; line-height: 26px; }

    .err-redc-center { transform: translateX(0%); }
    .redefine-payment-wrapper { flex-direction: column; align-items: start; gap: 40px; }
    .redefine-pymt-details { width: 100%;  }
    .redefine-pymt-growth { width: 100%; min-height: max-content; align-items: start; justify-content: center;  }
    .seamless-payment img { width: 500px; }
}

@media screen and (max-width: 1023px) {}

@media screen and (max-width: 991px) {
    .home-hero-hand { display: none; }
    .home-hero-details { max-width: 100%; padding-top: 150px; }
    .hero-details-wrapper { display: block; }
    .hero-home { height: 750px; }

    .slide-item-icon { width: 50px; height: 50px; }
    .slide-item-icon span { font-size: 26px; }
    .swiper-slide { height: 280px !important; }
    .slider-bottom-line { margin-top: 30px; }

    .seamless-payment img { position: relative; }
    .smls-pymt-details { margin-top: 80px; }
    .pymt-box h5 { width: 100%; }
    .pymt-box { width: 350px; }
    .smls-pymt-box-wrapper:last-child { text-align: right; }
    .pymt-box { height: 100px; }
}

@media screen and (max-width: 839px) {
    .site-hero-blob { width: 500px; top: 10%; }
    .home-hero-details { padding-top: 120px; }
    .faster-cycle, .payout-success { gap: 20px; }
    .payout-success { right: -65%; }
    .pymt-box { width: 320px; height: 130px; }

}

/* THIS IS FOR HOMEPAGE SLIDER ONLY */
@media screen and (max-width: 799px){
    .dp-work-slide-item .slide-item-icon { background: linear-gradient(135deg, #557CFF 0%, #693399 100%); color: var(--white); }
    .dp-work-slide-item .h5 { color: var(--secondary-purple-bluish); }
    .dp-work-slide-item .slider-bottom-line { display: block; }
}

@media screen and (max-width: 767px) {
    .hero-home { height: 700px; }
    .light-orange-box { display: none; }
    .site-hero-blob { left: 20%;  }
    .home-hero-details { padding-top: 100px; }
    .faster-cycle { left: -60%; }
    .payout-success { right: -60%; }
    .dp-work-slide-item { padding-right: 20px; }
    .swiper-slide { height: 320px !important; }
    .pymt-box { width: 280px; }
    .works-headings, .smls-pymt-headings, .smls-pymt-box-wrapper:last-child { text-align: left; }
}

@media screen and (max-width: 639px) {
    .header-wrapper { padding-left: 0; padding-right: 0; }
    .header-wrapper.shrink { padding: 15px 30px; }

    .reduction-spike-left, .reduction-spike-right { display: none; }
    .faster-cycle { width: max-content; top: 10%; left: -40%; }
    .payout-success { bottom: 0%; right: -40%; }

    .dp-work-slide-item { padding-right: 0px; }
    .swiper-slide { height: 270px !important; }
    .pymt-box { width: 230px; height: 150px; }
    .smls-pymt-box-wrapper { gap: 40px; }

}

@media screen and (max-width: 575px) {
    .faster-cycle { top: -5%; left: -30%; }
    .payout-success { bottom: -5%; right: -30%; }

    .works-headings { padding-top: 40px; }
    .smls-pymt-details { flex-direction: column; gap: 20px; }
    .pymt-box { width: 100%; height: 100px; }
    
    .smls-pymt-box-wrapper { gap: 20px; }
} 

@media screen and (max-width: 480px) {}

@media screen and (max-width: 459px) {
    .faster-cycle { left: -30px; top: -20px; }
    .payout-success { right: -30px; bottom: -20px; }
    .swiper-slide { height: 300px !important; }
}

@media screen and (max-width: 400px) {
    .home-stripe { height: 45px; }
    .site-hero-blob { left: 0; }
    .home-hero-details { padding-top: 50px; }
    .hero-home { height: 600px; }
    .pymt-box { height: max-content; }
    .smls-pymt-box-wrapper { gap: 30px; }
    .smls-pymt-details { gap: 30px; }
    .smls-pymt-details { margin-top: 70px; }
}

@media screen and (max-width: 374px) {
    .home-hero-cta { margin-top: 30px; }
    .stripe-slogan .h5 { font-size: 18px; line-height: 28px; }
    .home-hero-cta a:first-child { margin-right: 10px; margin-bottom: 15px; }
    .home-hero-cta a { font-size: 14px; }
    .home-hero-cta .link-padding { padding: 8px 15px; }
    
}

@media screen and (max-width: 359px) {
    .faster-cycle { left: 0px; }
    .payout-success { right: 0px; }
    .err-redc-center .h5 { font-size: 20px; line-height: 30px; }
    .err-redc-center p { font-size: 16px; line-height: 26px; }
}