@media screen and (max-width: 1799px) {
    .hero-home { height: 900px; }
    .home-hero-hand { width: 700px; }
    .home-hero-details, .subpage-hero-details { max-width: 800px; }

    .redefine-pymt-details { width: 620px; }
    .center-pie { width: 350px; }
    .redefine-payment-wrapper { gap: 20px; }

    .seamless-payment img { width: 800px; }
    .core-capablty-headings { width: 570px; }
    .capablty-lists-wrapper { width: 770px; }
    .capablty-list { width: 360px; justify-content: start; gap: 30px; }
    .capablty-divider { margin: 25px 0; }
    .pricing-wrapper, .plan-descrptn { gap: 50px; }
    .pillar-details { padding: 10px 30px; }
    .plan-item { width: 440px; }
    
    .blog-full img{ width: 740px; }
    .faq-headings { width: 794px; }
    .faq-lists { width: 800px; }
    .faq-wrapper img { width: 520px; }

    .sub-site-hero .hero-details-wrapper img { width: 550px; }

    .meet-dp-headings h2 { width: 600px; }
    .meet-dp-headings .h6 { width: 550px; }

    .detailed-text { width: 600px; }
    .payment-list-item > img { width: 550px; }

    .accordian-list { width: 800px; }
    .next-gen-gif { width: 550px; }

    .regulatory-headings h2 { width: 660px; }
    .regulatory-headings .h6 { width: 620px; }

    .donut-circle { width: 365px; height: 365px; }
    .wf-list-item { width: 480px; height: 190px; }
    .wf-list-details { width: 350px; }

    .circle-badge { position: absolute;  bottom: 220px; left: 40px; }
}

@media screen and (max-width: 1599px) { 
    .section { padding: 100px 0; }

    .home-hero-details, .subpage-hero-details { max-width: 700px; }
    .center-pie { width: 325px; }
    .faster-cycle, .payout-success { gap: 30px; padding: 15px; }
    .reduction-spike-left { width: 180px; left: -178px; }
    .reduction-spike-right { width: 120px; }
    .faster-cycle { top: 20px; }
    .testimonials .slide-item-details { width: 950px; }
    .sub-site-hero .hero-details-wrapper img { transform: translateY(30px); width: 570px; }

    .lc-info-block { height: 280px; }

}

@media screen and (max-width: 1439px) { 
    .hero-home { height: 850px; }
    .home-hero-details, .subpage-hero-details { max-width: 630px; padding-top: 70px; }

    .link-padding { padding: 10px 20px; }
    .text-20 { font-size: 18px; line-height: 28px; }
    .site-hero-blob { width: 600px; left: 40%; }

    .redefine-pymt-details { width: 685px; }
    .center-pie { width: 290px; }
    .faster-cycle, .payout-success { padding: 10px 15px; }
    .redefine-pymt-growth .site-radius-20 { border-radius: 10px; }
    .dp-work-slide-item { padding-right: 40px; }
    .swiper-slide { height: 320px !important; }
    .seamless-payment img { width: 700px; }
    .core-capablty-headings { width: 500px; }
    .plan-item { width: 410px; }

    .blog-full img { width: 670px; height: 350px; object-fit: cover; }
    .testimonials .slide-item-details .h5 { margin-top: 50px; }
    .testimonial-slide-item { height: 330px !important; }
    .testimonials .slide-item-details { width: 800px; }

    .faq-wrapper img { width: 500px; }
    .faq-lists { width: 770px; }
    .faq-trigger svg { width: 25px; height: 25px; }
    .faq-headings { width: 100%; }
    .testimonials .swiper-pagination-bullet { width: 50px; height: 50px; }
    .testimonials .swiper-pagination-bullet:nth-child(1)::before { font-size: 26px; line-height: 50px; }
    .testimonials .swiper-pagination-bullet:nth-child(2)::before { font-size: 26px; line-height: 50px; }
    .testimonials .swiper-pagination-bullet:nth-child(3)::before { font-size: 26px; line-height: 50px; }
    
    .payment-list-item { padding: 30px; }
    .accordian-list { width: 750px; }
    .next-gen-gif { width: 500px; }

    .regulatory-headings h2 { width: 630px; }

    .regulatory-item-icon { width: 50px; height: 50px; margin-bottom: 20px; }
    .regulatory-nav button { width: 50px; height: 50px; font-size: 24px; }
    .regulatory-item-icon span { font-size: 26px; }
    .regulatory-slide-item { height: 280px !important; }

    .wf-list-item { width: 440px; }
    .wf-list-details { width: 320px; }
    .blog-slide-item { height: 550px !important; }
    .blog-slide-item img { height: 100%; }
    .slider-item-details { top: 100px; }
    .blog-link { margin-top: 40px; }
    .slider-item-details { width: 80%; }

    .life-cycle-timeline svg { height: 100%; }
    .point-4 { transform: translateY(-5px); }
    .lc-info-block { height: 260px; }


}

@media screen and (max-width: 1359px) {
    .light-orange-box { width: 300px; }
    .hero-home { height: 800px; }
    .home-hero-hand { width: 550px; }
    .home-hero-cta { margin-top: 40px; }
    .stripe-slogan .h5 { font-size: 20px; line-height: 30px; }
    .redefine-pymt-growth { min-height: 350px; }
    .redefine-payment-wrapper { align-items: center; justify-content: center; }
    .redefine-pymt-details { width: 750px; }
    .err-redc-center { transform: translateX(70%); }
    .center-pie { width: 270px; }
    .reduction-spike-left { width: 150px; left: -148px; }
    .reduction-spike-right { width: 100px; }
    .faster-cycle { left: -65%; }
    .payout-success { right: -50%; inset: auto -42% 10% auto; }
    

    .seamless-payment img { width: 650px; }
    .pymt-box { width: 250px; }

    .capablty-lists-wrapper { width: 75%; height: 570px; margin: 0 auto; padding-top: 60px; }
    .capabiblity-wrapper { flex-direction: column; }
    .core-capablty-headings { width: 100%; text-align: center; }

    .pricing-left-pillar { height: 780px; }
    .pillar-details { padding: 10px; }
    .pricing-wrapper, .plan-descrptn { gap: 30px; }
    .plan-item { width: 380px; height: 530px; }
    .plan-includes { margin-bottom: 20px; }
    .plans-link { width: 90%; }

    .trust-info { width: 540px; }
    .trust-image-scalaton { width: 480px; height: 260px; }

    .blog-full img { width: 580px; height: 400px; }
    .full-blog-info .home-blog-content { width: 490px; }

    .testimonials .slide-item-details { width: 730px; }
    .faq-lists { width: 650px; }
    .faq-wrapper img { width: 450px; }


    /* ABOUT-US PAGE */
    .subpage-hero-details { height: 380px; }
    .sub-site-hero .hero-details-wrapper img { width: 500px; transform: translateY(50px); }
    .meet-dp-headings h2 { width: 500px; }

    .detailed-text { width: 500px; }
    .payment-list-item > img { width: 480px; object-fit: cover; }

    .accordian-list { width: 650px; }
    .next-gen-gif { width: 450px; }

    .regulatory-headings h2 { width: 600px; }
    .regulatory-headings .h6 { width: 480px; }

    .regulatory-slide-item { height: 300px !important; }
    .wf-list-item { width: 400px; }
    .wf-list-details { width: 280px; }
    .donut-circle { width: 320px; height: 320px; }

    .integration-headings h2 { width: 600px; }
    .integration-tab-content { gap: 60px; }

    .lc-info-block { width: 250px; height: 270px; }
    .blog-slide-item { height: 500px !important; }

    .circle-badge { position: absolute;  bottom: 180px; left: 30px; }
    .circle-badge > img { width: 100px; height: 100px; }
}   

@media screen and (max-width: 1199px) {
    .section { padding: 70px 0; }
    .home-hero-hand { transform: translateX(-15%); }
    .home-hero-details, .subpage-hero-details { max-width: 540px; padding-top: 90px; }
    .home-stripe { bottom: 140px }
    .text-20 { font-size: 16px; line-height: 26px; }

    .err-redc-center { transform: translateX(0%); }
    .redefine-payment-wrapper { flex-direction: column; align-items: start; gap: 40px; }
    .redefine-pymt-details { width: 100%;  }
    .redefine-pymt-growth { width: 100%; min-height: max-content; align-items: start; justify-content: center;  }
    .seamless-payment img { width: 500px; }
    .capablty-lists-wrapper {width: 85%; }
    .pricing-wrapper { flex-direction: column-reverse; }
    .pricing-headings { width: 100%; text-align: center; margin-bottom: 40px; }
    .pricing-plan-details { width: 100%; }
    .pricing-plan-details .plan-descrptn { justify-content: start; }
    .plan-item { width: calc(50% - 20px); }
    .pricing-wrapper, .plan-descrptn { gap: 40px; }
    .pricing-left-pillar { width: 100%; height: max-content; flex-direction: row; justify-content: center; gap: 40px; }
    .pillar-details { width: calc(50% - 20px); }
    .pricing-left-pillar img { width: calc(50% - 20px); height: auto; }

    .trust-headings h2 { width: 440px; }
    .trust-headings .h6 { width: 500px; }

    .trust-info { width: 480px; }
    .trust-image-scalaton { width: 420px; }
    .blog-full { gap: 30px; }
    .blog-full img { width: 500px; height: 430px; }
    .full-blog-info .home-blog-content { width: 400px; }

    .testimonials .slide-item-details { width: 80%; }
    .faq-wrapper img { display: none; }
    .faq-headings { text-align: center; }
    .faq-lists { width: 80%; margin: 0 auto; }

    /* ABOUT-US PAGE */
    .sub-site-hero .hero-details-wrapper img { width: 400px; transform: translateY(40px); }
    .meet-dp-headings h2 { width: 425px; }
    .meet-dp-headings .h6 { width: 490px; }

    .payment-list-item { flex-direction: column; align-items: start; gap: 40px; }
    .item-details { width: 100%; align-items: center; }
    .detailed-text { width: 100%; }
    .payment-list-item > img { width: 480px; margin-left: 70px; }
    .accordian-wrapper { flex-direction: column-reverse; align-items: center; gap: 30px; margin-top: 40px;}
    .accordian-list { width: 100%; }
    .next-gen-gif { height: 300px; }
    .next-gen-headings { width: 100%; }

    .regulatory-headings h2 { width: 470px; }
    .regulatory-headings .h6 {  width: 440px; }
    .regulatory-slide-item { margin-right: 10px !important; height: 270px !important; }

    .workflow-lists { flex-direction: column; }
    .wf-list-item:first-child { margin-bottom: 0; }
    .workflow-list { width: 100%; display: flex; justify-content: space-between; }
    .donut-circle { width: 300px; height: 300px; }
    .wf-list-icon { width: 40px; height: 40px; }
    .wf-list-icon span { font-size: 24px; }
    .wf-list-details { width: 300px; }
 
    .integration-headings h2 { width: 460px; }
    .integration-headings .h6 { width: 400px; }

    .integration-tab-content { flex-direction: column; gap: 40px; }
    .integration-tab-content img { height: 300px; object-fit: cover; object-position: top; }
    .content-list { display: flex; align-items: flex-start; justify-content: space-between; }
    .content-item:first-child { margin-bottom: 0;  }
    .content-item { width: 40%; }
    .content-item:last-child { text-align: right; }

    
    .blog-slider { padding-top: 90px; }
    .point { width: 25px; height: 25px; }
    .lc-info-block { width: 235px; }

    .capablty-lists-divider { max-height: 500px; }

    @keyframes heroHandSlideLeft {
        0% {
            opacity: 0;
            transform: translateX(-120px);
        }
        100% {
            opacity: 1;
            transform: translateX(-15%);
        }
    }

    .circle-badge { bottom: 65%; transform: translate(0, 0);}
    .header-wrapper.shrink { padding: 15px 30px; }
    .header-wrapper.shrink .contact-link a { padding: 6px 12px; }
    .header-nav-links a { font-size: 16px; line-height: 24px; }
    .header-nav-links ul { gap: 30px; }
    .arrow-top-left, .arrow-bottom-left, .arrow-top-right, .arrow-bottom-right { display: none; }
}

@media screen and (max-width: 1023px) {}

@media screen and (max-width: 991px) {
    .home-hero-hand { display: none; }
    .home-hero-details, .subpage-hero-details { max-width: 100%; padding-top: 150px; }
    .hero-details-wrapper { display: block; }
    .hero-home { height: 750px; }

    .slide-item-icon { width: 50px; height: 50px; }
    .slide-item-icon span { font-size: 26px; }
    .swiper-slide { height: 280px !important; }
    .slider-bottom-line { margin-top: 30px; }

    .seamless-payment img { position: relative; }
    .smls-pymt-details { margin-top: 80px; }
    .pymt-box h5 { width: 100%; }
    .pymt-box { width: 350px; }
    .smls-pymt-box-wrapper:last-child { text-align: right; }
    .pymt-box { height: 100px; }

    .capablty-lists-wrapper { width: 100%; justify-content: center; gap: 30px; }
    .capablty-list { width: 350px; }

    .pillar-details { width: calc(70% - 20px); }
    .pricing-left-pillar img { object-fit: contain; }

    .trust-tab-content { flex-direction: column; gap: 30px; }
    .trust-info { width: 90%; text-align: center; }
    .trust-headings { flex-direction: column; text-align: center; }
    .trust-headings h2, .trust-headings .h6 { width: 100%; }

    .blog-full { flex-direction: column; }
    .blog-full img { width: 100%; height: 320px; }
    .home-blog-content .h5 { margin-bottom: 10px; }
    .home-blog-content p { margin-bottom: 20px; }
    .full-blog-info { width: 80%; }
    .full-blog-info .home-blog-content { width: 100%; padding-bottom: 30px; }

    .faq-lists { width: 90%; }
    .testimonial-slide-item { height: 350px !important; }

    /* ABOUT-US PAGE */
    .sub-site-hero .light-orange-box { height: 100%; }
    .sub-site-hero .hero-details-wrapper { display: flex; flex-direction: column-reverse; align-items: center; }
    .sub-site-hero .hero-details-wrapper img { transform: translate(0); }

    .meet-dp-headings { flex-direction: column; text-align: center; align-items: center; }
    .meet-dp-headings h2{  width: 70%; } 
    .meet-dp-headings .h6 { width: 90%; }

    .payment-list-item > img { max-width: 100%; }

    .regulatory-headings { flex-direction: column; width: 100%; text-align: center;  }
    .regulatory-headings h2 { width: 100%; }
    .regulatory-headings .h6 { width: 100%; }

    .regulatory-slide-item { padding: 20px; height: 260px !important; }
    .wf-list-item { width: 370px; }
    .wf-list-details { width: 260px; }
    .donut-circle { width: 280px; height: 280px; margin: 30px 0; }
    .donut-inner-circle { width: calc(100% - 100px); height: calc(100% - 100px); }

    .integration-headings h2 { width: 400px; }
    .integration-headings .h6 { width: 350px; }

    .content-item { width: 45%; }
    .integration-tab-content img { width: 500px; height: 250px; }

    .blog-slide-item { height: 500px !important; }

    .life-cycle-timeline svg { transform: rotate(90deg); padding-left: 20px; padding-right: 50px; }
    .life-cycle-list-wrapper { height: 100%; }
    .point-1 { top: 14%; left: 40.5%; }
    .point-2 { top: 35%; left: 45.5%; }
    .point-3 { top: 55%; left: 51%; }
    .point-4 { top: auto; bottom: 20%; left: auto; right: 40%; }

    .lc-info-block { padding: 0; padding-top: 10px; height: max-content; }
    .lc-block-1, .lc-block-3 { transform: translate(-100%, 12px); border: none; border-top: 1px solid #B8B8B8; }
    .lc-block-2, .lc-block-4 { width: 370px; transform: translate(25px, 12px); border: none; border-top: 1px solid #B8B8B8; align-items: end; } 
    .lc-block-2 h5, .lc-block-2 p { width: 60%; }
    .lc-block-4 { width: 300px; }
    .lc-block-4 h5, .lc-block-4 p { width: 80%; }

    .circle-badge { left: auto; right: 100px; bottom: 150px; }

    .subpage-hero-details { padding-top: 100px; }
    .subpage-hero-details { height: max-content; margin-bottom: 20px; }


    .blog-section { padding: 60px 0; }
}

@media screen and (max-width: 839px) {
    .site-hero-blob { width: 500px; top: 10%; }
    .home-hero-details, .subpage-hero-details { padding-top: 120px; }
    .faster-cycle, .payout-success { gap: 20px; }
    .payout-success { right: -65%; }
    .pymt-box { width: 320px; height: 130px; }
    /* .capablty-lists-divider, .capablty-divider { display: none !important; } */
    .capablty-lists:first-child { justify-content: start; }
    .capablty-lists:last-child { display: flex; flex-direction: column; justify-content: end; }
    /* .pillar-details { width: 80%; } */
    .trust-headings { width: 90%; text-align: center; flex-direction: column; margin: 0 auto; }
    .trust-headings h2, .trust-headings .h6 { width: 100%; }
    .trust-info { width: 95%; }
    .half-blog-info { padding: 20px; }
    .faq-lists { width: 92%; }
    .next-gen-headings { width: 85%; }

    .workflow-lists { margin-top: 30px; }
    .workflow-list:first-child { order: 2; margin-bottom: 20px; }
    .workflow-list:last-child { order: 3; }
    .donut-circle { margin-top: 10px; order: 1; }
    .workflow-list { gap: 20px; justify-content: center; }
    .integration-headings h2 { width: 350px; }
    .integration-tab-content { gap: 30px; }

    .integration-tabs { display: none; }
    .integration-accord { display: block; }
    .integr-item h3 { margin-bottom: 0; }
    .integ-trigger { align-items: center; }
    .integ-cont { padding-top: 40px; }
    .integr-item:not(:last-child) { margin-bottom: 20px; }

    .life-cycle-timeline { display: none; }
    .life-cycle-timeline-mob { display: flex; align-items: center; justify-content: center; width: 100%; height: 700px; margin-top: 40px; }
    .lc-mob-centerline { width: 20px; height: 100%; position: relative; display: flex; flex-direction: column; background-color: var(--light-grey); justify-content: space-evenly; }
    .lc-mob-animated-line { width: 20px; height: 20%; top: 0; left: 0;  background: linear-gradient(100deg, #00092E 0%, #011e80 100%); z-index: 1; }
    .lc-mob-centerline .center-point { position: relative; z-index: 2; width: 30px; height: 30px; background-color: var(--white); border-radius: 50%; transform: translateX(-5px); }

    .lc-block-2, .lc-block-4 {  transform: translate(30px, 12px); }
    .lc-block-1, .lc-block-2, .lc-block-3, .lc-block-4 { width: 270px; }
    .lc-block-1 h5, .lc-block-1 p, .lc-block-2 h5, .lc-block-2 p, .lc-block-3 h5, .lc-block-3 p, .lc-block-4 h5, .lc-block-4 p { width: 80%; }
    .life-cycle { padding-bottom: 120px; }
    .capablty-lists { width: 320px; }
    .capablty-list { width: 100%; height: max-content; gap: 16px; }
    .capablty-divider { width: 100% !important; }
    .list-details { width: 250px; }

    .subpage-hero-details { padding-top: 100px; }

}

/* THIS IS FOR HOMEPAGE SLIDER ONLY */
@media screen and (max-width: 799px){
    .dp-work-slide-item .slide-item-icon { background: linear-gradient(135deg, #557CFF 0%, #693399 100%); color: var(--white); }
    .dp-work-slide-item .h5 { color: var(--secondary-purple-bluish); }
    .dp-work-slide-item .slider-bottom-line { display: block; background: linear-gradient(100deg, #00092E 0%, #011e80 100%); }

    .regulatory-slide-item { height: 220px !important; }
}

@media screen and (max-width: 767px) {
    .hero-home { height: 700px; }
    .light-orange-box { display: none; }
    .site-hero-blob { left: 20%;  }
    .home-hero-details, .subpage-hero-details { padding-top: 100px; }
    .faster-cycle { left: -60%; }
    .payout-success { right: -60%; }
    .dp-work-slide-item { padding-right: 20px; }
    .swiper-slide { height: 320px !important; }
    .pymt-box { width: 280px; }
    .works-headings, .smls-pymt-headings, .smls-pymt-box-wrapper:last-child { text-align: left; }

    .core-capablty-headings { padding-top: 0; text-align: left; }
    .capablty-lists-wrapper { flex-direction: column; height: max-content; gap: 25px; }
    .capablty-list { width: 80%; height: 130px; height: max-content; margin: 0 auto; }
    .list-details { width: calc(100% - 80px); }
    .capablty-lists-divider { display: block; width: 100%; height: 1px !important; }
    .pricing-headings { text-align: left; }
    .plan-descrptn { flex-direction: column; }
    .plan-item { width: 100%; }
    .pricing-left-pillar { flex-direction: column-reverse; align-items: center; }
    .pillar-details { width: 100%; }

    .trust-headings { width: 100%; text-align: left;  }
    .trust-tabs { margin-top: 20px; }
    .tab-line-seprator { margin-top: 10px; }
    .trust-info { width: 100%; text-align: left; }
    .trust-tab-content { gap: 40px; }

    .bloh-highlight-headings { width: 100%; text-align: left; }
    .home-blog-listing { margin-top: 50px; }
    .blog-half-group { flex-direction: column; gap: 40px; }
    .full-blog-info { padding: 20px; }
    .full-blog-info, .blog-half { width: 100%; }
    .full-blog-info .home-blog-content { padding-bottom: 0; }

    .testimonials h2 { text-align: left; }
    .slide-item-details .h4 { text-align: left; }
    .faq-lists { width: 100%; }
    .faq-headings { text-align: left; }
    .testimonial-slide-item { height: 370px !important; }
    .testimonials .swiper-pagination-bullet:nth-child(1)::before { font-size: 24px; line-height: 50px; }
    .testimonials .swiper-pagination-bullet:nth-child(2)::before { font-size: 24px; line-height: 50px; }
    .testimonials .swiper-pagination-bullet:nth-child(3)::before { font-size: 24px; line-height: 50px; }

    /* ABOUT-US PAGE */
    .sub-site-hero { min-height: auto; max-height: 450px; }
    .sub-site-hero .hero-details-wrapper img { display: none; }
    .sub-site-hero .site-hero-blob { width: 400px; }

    /* .meet-dhatupay { padding-top: 0px; } */
    .meet-dp-headings { flex-direction: column; text-align: left; align-items: start; }
    .meet-dp-headings h2{  width: 100%; } 
    .meet-dp-headings .h6 { width: 100%; }

    .item-details > img { display: none; }
    .payment-list-item > img { margin-left: 0; }

    .regulatory-headings { text-align: left; }
    .payment-headings { text-align: left; }
    .next-gen-headings { width: 100%; text-align: left; }
    .payment-list-item { margin-top: 40px; }

    .regulatory-slide-item { height: 240px !important; }
    /* .workflow-list { flex-direction: column; } */
    .financial-headings { text-align: left; }
    .wf-list-item { width: 45%; height: 250px; padding: 16px; flex-direction: column; justify-content: flex-start; gap: 20px; }
    .wf-list-details { width: 100%; }
    .donut-circle { margin-top: 0; }

    .integration-headings { flex-direction: column; }
    .integration-headings h2 { width: 100%; }
    .integration-headings .h6 { width: 100%; }

    .content-list { flex-direction: column; gap: 20px; }
    .integration-tab-content { gap: 20px; }
    .content-item { width: 100%; }
    .content-item:last-child { text-align: left; }
    .integ-cont { padding-top: 30px; }
    .integr-item .h5 { margin-bottom: 10px; }

    
    .slider-item-details p { width: 100%; }

    .life-cycle-headings { text-align: left; }
    .capablty-lists { width: 100%; }
    .capablty-lists-wrapper { gap: 25PX !important; }

    .home-stripe { bottom: 170px; }
    .circle-badge { left: auto; right: 50px; bottom: 140px; }
    .sub-site-hero { max-height: max-content; }
    .subpage-hero-details { max-width: max-content; }

    .blog-list-cards { width: 100%; height: max-content; }
    

}

@media screen and (max-width: 639px) {
    .header-wrapper { padding-left: 0; padding-right: 0; }
    .header-wrapper.shrink { padding: 15px 30px; }

    .reduction-spike-left, .reduction-spike-right { display: none; }
    .faster-cycle { width: max-content; top: 10%; left: -40%; }
    .payout-success { bottom: 0%; right: -40%; }

    .dp-work-slide-item { padding-right: 0px; }
    .swiper-slide { height: 270px !important; }
    .pymt-box { width: 230px; height: 150px; }
    .smls-pymt-box-wrapper { gap: 40px; }
    .capablty-list { width: 85%; }
    .testimonial-slide-item { height: 370px !important; }
    
    /* ABOUT-US PAGE */
    /* .sub-site-hero { min-height: auto; max-height: 460px; } */
    .subpage-hero-details, .subpage-hero-details p { margin-bottom: 0; }

    .regulatory-slide-item { height: 240px !important; }

    .workflow-list { flex-direction: column; }
    .wf-list-item { width: 100%; height: 180px; }

    .integr-item .h5 { font-size: 20px; line-height: 28px; }
    .content-item p { font-size: 16px; line-height: 24px; }
    .integration-tab-content img { width: 80%; height: 200px; }
    .integ-cont { padding-top: 20px; }

    .blog-slide-item { height: 500px !important; }
    .slider-item-details { width: 90%; left: 30px; }
    
    .item-details > svg { display: none; }
    .lc-block-1, .lc-block-2, .lc-block-3, .lc-block-4 { width: 250px; }
    .blog-listing-tabs .trust-tabs-list { width: 500px; overflow-x: scroll !important; scrollbar-width: none; justify-content: start; }
    /* .blog-listing-card-wrapper { width: 100%; } */

}

@media screen and (max-width: 575px) {
    .faster-cycle { top: -5%; left: -30%; }
    .payout-success { bottom: -5%; right: -30%; }

    .works-headings { padding-top: 40px; }
    .smls-pymt-details { flex-direction: column; gap: 20px; }
    .pymt-box { width: 100%; height: 100px; }
    .smls-pymt-box-wrapper { gap: 20px; }
    .capablty-list { width: 100%; gap: 20px; }
    .blog-full img { height: 250px; }
    h5, .h5 { font-size: 21px; line-height: 30px; }
    .testimonials .slide-item-details { text-align: left; width: 100%; }
    .testimonial-slide-item { height: 340px !important; }
    h4, .h4 { font-size: 20px; line-height: 30px; }

    .faq-trigger { padding: 12px; }
    .faq-content { padding: 10px 12px 12px; }
    .qna-list { margin-top: 30px; }
    .testimonial-slider { margin-top: 30px; }
    .next-gen-gif { max-width: 100%; height: 250px; }
    .wf-list-item { height: 200px; }

    .integr-item h3.h4 { font-size: 24px; }
    .integration-accord { margin-top: 30px; }
    .integ-trigger svg { stroke-width: 2px; width: 24px; height: 30px; stroke: var(--black); }

    .blog-slide-item { height: 600px !important; }
    .blog-hero-slider .swiper-pagination { padding-right: 60px; }

    .life-cycle-timeline-mob { justify-content: start; }
    .lc-block-1, .lc-block-3 { transform: translate(30px, 15px); display: flex; flex-direction: column; align-items: end; }
    .lc-block-1 h5, .lc-block-1 p, .lc-block-2 h5, .lc-block-2 p, .lc-block-3 h5, .lc-block-3 p, .lc-block-4 h5, .lc-block-4 p { width: 95%; }
    .lc-block-1, .lc-block-2, .lc-block-3, .lc-block-4 { width: 380px; }
    .lc-mob-centerline { justify-content: space-around; }

    .circle-badge > img { width: 90px; height: 90px; }
    .circle-badge .circle-arrow { width: 35px; height: 35px; }
    .circle-arrow img { width: 14px; height: 14px; }
    .circle-badge { left: auto; right: 30px; bottom: 130px; }

    .blog-listing-tabs .trust-tabs-list { width: 100%;  }
    .blog-listing-tabs { width: 100%; overflow-x: scroll; scrollbar-width: none; }

    .blog-section { padding: 40px 0; }
    .blog-section h3 { font-size: 20px; line-height: 28px; margin-bottom: 10px; }
    .blog-detail-heading .h2 { margin-bottom: 0; padding-bottom: 0; }
}

@media screen and (max-width: 480px) {}

@media screen and (max-width: 459px) {
    .faster-cycle { left: -30px; top: -20px; }
    .payout-success { right: -30px; bottom: -20px; }
    .swiper-slide { height: 300px !important; }
    .testimonials .slide-item-details .h5 { width: 70%; }
    .testimonial-slide-item { height: 400px !important; }
    .pricing-left-pillar img { width: 100%; }
    .plan-item { height: max-content; }
    .trust-image-scalaton { width: 100%; }
    .trust-tabs-list { gap: 6px; margin: 0; width: 100%; }
    .trust-tab-trigger { padding: 5px 15px; }
    .trust-tabs { margin-top: 30px; }
    .trust-image-scalaton { height: 220px; } 

    .subpage-hero-details { height: auto; }
    .payment-list-item { padding: 20px; }
    .next-gen-gif { height: 200px; }
    .accordian-wrapper { margin-top: 30px; }

    .regulatory-slide-item { height: 250px !important; }

    .integration-tab-content img { width: 90%; }
    .integr-item h3.h4 { font-size: 22px; line-height: 30px; }

    .blog-slide-item { height: 520px !important; }
    .lc-block-1, .lc-block-2, .lc-block-3, .lc-block-4 { width: 340px; }
    .lc-info-block h5 { margin-bottom: 6px; }
    .circle-badge { bottom: 120px; }
}

@media screen and (max-width: 400px) {
    .home-stripe { height: 45px; }
    .site-hero-blob { left: 0; }
    .home-hero-details, .subpage-hero-details { padding-top: 50px; }
    .hero-home { height: 600px; }
    .pymt-box { height: max-content; }
    .smls-pymt-box-wrapper { gap: 30px; }
    .smls-pymt-details { gap: 30px; }
    .smls-pymt-details { margin-top: 70px; }
    .blog-full img { height: 220px; }
    .blog-writer { flex-direction: column; gap: 6px; }
    .testimonial-slide-item { height: 380px !important; }
    .testimonials .slide-item-details { width: 100%; }
    .testimonials .slide-item-details .h5 { margin-top: 40px; }

    /* .testimonials .swiper-pagination { justify-content: flex-end; } */
    .testimonials .swiper-pagination-bullet { width: 40px; height: 40px; }
    .testimonials .swiper-pagination-bullet:nth-child(1)::before { content: "R"; font-family: 'poppins-md'; font-size: 18px; line-height: 40px; }
    .testimonials .swiper-pagination-bullet:nth-child(2)::before { content: "P"; font-family: 'poppins-md'; font-size: 18px; line-height: 40px; }
    .testimonials .swiper-pagination-bullet:nth-child(3)::before { content: "A"; font-family: 'poppins-md'; font-size: 18px; line-height: 40px; }

    .donut-circle { order: 2; margin: 20px 0; }
    .workflow-list:first-child { order: 1; margin-bottom: 0; }
    .wf-list-item { height: 225px; }
    .integration-tab-content img { width: 95%; height: 160px; }
    
    .slider-item-details { left: 20px; width: 95%; }
    .lc-info-block h5 { margin-bottom: 6px; }
    .lc-block-1, .lc-block-2, .lc-block-3, .lc-block-4 { width: 290px; }

    .capablty-icon { width: 40px; height: 40px; }
    .list-details { width: calc(100% - 60px); }
    .capablty-icon img { width: 28px; }
    .capablty-lists-wrapper { padding-bottom: 0; }

    .lc-mob-centerline { width: 10px; height: 100%; }
    .lc-mob-animated-line { width: 10px; height: 20%;  }
    .lc-mob-centerline .center-point { width: 20px; height: 20px; }
    .lc-block-1, .lc-block-2, .lc-block-3, .lc-block-4 { transform: translate(20px, 10px); }

    .circle-badge { display: none; }
}

@media screen and (max-width: 374px) {
    .home-hero-cta { margin-top: 30px; }
    .stripe-slogan .h5 { font-size: 18px; line-height: 28px; }
    .home-hero-cta a:first-child { margin-right: 10px; margin-bottom: 15px; }
    .home-hero-cta a { font-size: 14px; }
    .home-hero-cta .link-padding { padding: 8px 15px; }
}

@media screen and (max-width: 359px) {
    .faster-cycle { left: 0px; }
    .payout-success { right: 0px; }
    .err-redc-center .h5 { font-size: 20px; line-height: 30px; }
    .err-redc-center p { font-size: 16px; line-height: 26px; }
    .trust-tab-trigger { padding: 5px 10px; }
    .blog-full img { height: 200px; }
    .testimonial-slide-item { height: 400px !important; }
    .regulatory-slide-item { height: 300px !important; }
}